.widget-content-area {
    box-shadow: none!important;
    border: none;
    border-radius: 6px;
}
.table-hover:not(.table-dark) tbody tr td:first-child {
    border-left: none!important;
}
.table-hover:not(.table-dark) tbody tr td:first-child {
    border-left: none!important;
}
.table-hover:not(.table-dark) tbody tr:hover .new-control.new-checkbox .new-control-indicator {
    border: 1px solid #0a9cd7;
}

/*Style. 1*/

.style-1 { }
.style-1 .user-name {
    font-size: 15px;
    color: #805dca;
}
.style-1 .profile-img img {
    border-radius: 6px;
    background-color: #ebedf2;
    padding: 2px;
    width: 35px;
    height: 35px;
}


/*Style. 2*/

.style-2 { }
.style-2 .new-control.new-checkbox .new-control-indicator {
    top: 1px;
}
.style-2 .user-name {
    font-size: 15px;
    font-weight: 600;
    color: #e2a03f;
}
.style-2 .profile-img { }
.style-2 img.profile-img {
    background-color: #ebedf2;
    padding: 2px;
    width: 35px;
    height: 35px;
}

/*Style. 3*/

.style-3 { }
.style-3 .new-control.new-checkbox .new-control-indicator { top: 1px; }
.style-3 .user-name {
    font-size: 15px;
    font-weight: 600;
    color: #e2a03f;
}
.style-3 .profile-img { }
.style-3 img.profile-img {
    border-radius: 6px;
    background-color: #ebedf2;
    padding: 2px;
    width: 35px;
    height: 35px;
}
.style-3 .table-controls {
    padding: 0;
    margin-bottom: 0;
}
.style-3 .table-controls li {
    list-style: none;
    display: inline;
}
.style-3 .table-controls li svg {
    /* color: #888ea8;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    fill: rgba(0, 23, 55, 0.08);
    cursor: pointer; */

    /* color: #3b3f5c;
    margin-right: 6px;
    vertical-align: middle;
    fill: #f1f2f3; */
    cursor: pointer;
    /* stroke-width: 1; */

    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    color: #515365;
    stroke-width: 1.5;
    
    width: 28px;
    height: 28px;
}
.style-3.table-hover:not(.table-dark) tbody tr:hover .table-controls li svg {
    color: #191e3a;
    /* fill: rgba(231, 81, 90, 0.2196078431372549); */
}
.style-3.table-hover:not(.table-dark) tbody tr:hover td:first-child {
    color: #4361ee!important;
}