.btn-theme{
    background-color:#7e3d97;
    color:#fff;
}
.btn-theme:hover{
    background-color:#f49320;
    color:#fff;
}
.actions-tb-box{
    font-size:20px!important;
}
.actions-tb-box a{
    cursor:pointer;
    display:inline-block;
}
.actions-tb-box a:hover{
    color:#7e3d97;
}