:root {
	--black: #333333;
	--white: #ffffff;
	--skyblue: #5cc7cf;
	--yellow: #f9bc14;
	--pink: #ef5092;
	--dark-pink: #ce1066;
	--green: #7dc245;
	--peach: #FED6DE;
	--theme-color: #7e3d97;
	--dark-black: #050d36;
	--purple: #D6DDFF;
	--light-grey: #FCFCFC;
	--bg-dark-grey: #424A54;
	--bg-light-blue: #0a9cd7;
	--border-color-grey: #DBD8D8;
	--hover-btn: #088bbd;
	--peach: #FEDEC1;
	--grey: #DBD8D8;
	--pr-color: #f49320;
}

body {
	font-family: 'Jost';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #1b222b;
}

body,
html {
	scroll-behavior: smooth;
	max-width: 100%;
}

a {
	text-decoration: none;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	color: inherit;
	cursor: pointer;
}

a:focus,
a:hover,
button:focus {
	text-decoration: none;
	outline: 0 !important;
	color: inherit;
	cursor: pointer;
	box-shadow: none !important;
}

li,
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
}

p {
	color: #777777;
	font-family: 'Roboto';
	margin-bottom: 12px;
}

img {
	max-width: 100%;
}

.form-check-input:focus,
.form-select:focus,
.form-control:focus {
	box-shadow: none;
}

.form-select {
	width: 100%;
	padding: 7px 54px 7px 20px;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	color: #777777;
	border: 1px solid #777777;
	cursor: pointer;
	border-radius: 4px;
	font-size: 18px;
	transition: all 0.1s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.form-select:focus {
	border-color: #777777;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Regular.woff2') format('woff2'), url('../fonts/Jost-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Italic.woff2') format('woff2'), url('../fonts/Jost-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Black.woff2') format('woff2'), url('../fonts/Jost-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-BlackItalic.woff2') format('woff2'), url('../fonts/Jost-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Bold.woff2') format('woff2'), url('../fonts/Jost-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-BoldItalic.woff2') format('woff2'), url('../fonts/Jost-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-ExtraBold.woff2') format('woff2'), url('../fonts/Jost-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-ExtraLight.woff2') format('woff2'), url('../fonts/Jost-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Jost-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Italic.woff2') format('woff2'), url('../fonts/Jost-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Jost-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Light.woff2') format('woff2'), url('../fonts/Jost-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-LightItalic.woff2') format('woff2'), url('../fonts/Jost-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Medium.woff2') format('woff2'), url('../fonts/Jost-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Regular.woff2') format('woff2'), url('../fonts/Jost-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-MediumItalic.woff2') format('woff2'), url('../fonts/Jost-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-SemiBold.woff2') format('woff2'), url('../fonts/Jost-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Jost-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-Thin.woff2') format('woff2'), url('../fonts/Jost-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../fonts/Jost-ThinItalic.woff2') format('woff2'), url('../fonts/Jost-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'), url('../fonts/Roboto-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'), url('../fonts/Roboto-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.woff2') format('woff2'), url('../fonts/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'), url('../fonts/Roboto-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'), url('../fonts/Roboto-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'), url('../fonts/Roboto-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}


/*@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

.theme-btn {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff !important;
	/*height: 60px;*/
	background-color: var(--theme-color);
	display: inline-block;
	padding: 18px 45px;
	border-radius: 8px;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
	font-family: 'Roboto', sans-serif;
	border: none;
	min-width: 180px;
}

.theme-btn::before {
	content: "";
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 8px;
	background-color: var(--pr-color);
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	z-index: -1;
	transition: all 0.3s;
}

.theme-btn:hover::before {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	right: 0px;
	transition: all 0.3s;
}

.theme-btn:hover,
.theme-btn:focus {
	background-color: var(--pr-color);
	color: #fff;
	transition: 0.5s;
}

.theme-btn:hover i {
	transition: 0.5s;
	transform: translateX(10px);
}

.black-btn {
	background-color: #232221;
	color: #fff;
	font-size: 16px;
	min-width: 121px;
	padding: 11px 20px;
	border: 1px solid #232221;
	text-align: center;
}

.black-btn:hover,
.black-btn:focus {
	background-color: #000000;
}

.theme-container {
	margin-left: auto;
	margin-right: auto;
}

.sub-heading-section h5 {
	position: relative;
	font-size: 22px;
	color: var(--pink);
	line-height: 22px;
	font-weight: 700;
}

.sub-heading-section h2 {
	font-size: 60px;
	color: #050d36;
	line-height: 80px;
	font-weight: 800;
	padding-bottom: 25px;
	padding-top: 12px;
}

.sub-heading-section p {
	margin-bottom: 12px;
}

.inner-heading {
	font-size: 30px;
	color: #050d36;
	font-weight: 700;
	line-height: 35px;
	margin-bottom: 20px;
	margin-top: 20px;
	/*slick dots*/
}

.slick-dots {
	bottom: -50px;
	font-size: 0;
	line-height: 1;
}

.slick-dots li {
	width: auto;
	height: auto;
	margin: 0 6px;
}

.slick-dots li button {
	width: 8px;
	height: 8px;
	background: #d7d7d7;
	border-radius: 100%;
	transition: 0.3s;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background: var(--pink);
}

.slick-dots li button:before {
	display: none;
}
textarea{
    resize: none;
}

/*slick slider height css*/


/*slick-dots*/

.form-control:not(textarea) {
	min-height: 52px;
}

#bookDemo-page .select2-container--default .select2-selection--multiple,
#bookDemo-page .select2-container--default.select2-container--focus .select2-selection--multiple{
    display: flex!important;
    align-items: center!important;
    border: 1px solid #ced4da!important;
    min-height: 52px!important;
    padding-left: 10px;
}

.select2-container .select2-search--inline .select2-search__field {

    height: 30px!important;
    line-height: 30px!important;

}
#bookDemo-page .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {

    border-right: 0px!important;
    background-color: transparent;
    color: #ffffff!important;

}
#bookDemo-page label{
    font-size: 18px;
}
#bookDemo-page .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f49320!important;
    border: 1px solid #f49320!important;

    color: #ffffff!important;

}
#bookDemo-page .select2-container--default .select2-results__option--highlighted:hover{
    background-color: #f49320!important;

}
/* .select2-container--default .select2-search--inline .select2-search__field{

} */

.content-scroll {
	overflow: auto;
	position: relative;
	height: 100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (min-width: 1229px) {
	.showcase .horizontal-images.content-scroll {
		width: 1060px;
	}
}

@media only screen and (min-width: 1629px) {
	.showcase .horizontal-images.content-scroll {
		width: 700px;
	}
}

@media(max-width:1399px) {
	.sub-heading-section h2 {
		font-size: 46px;
		line-height: 56px;
	}
	.theme-btn {
		font-size: 14px;
		padding: 18px 26px;
	}
}

@media(max-width:1199px) {
	.sub-heading-section h2 {
		font-size: 50px;
		line-height: 65px;
	}
	.sub-heading-section h5 {
		font-size: 20px;
		line-height: 20px;
	}
	.theme-btn {
		font-size: 15px;
		padding: 18px 15px;
	}
}

@media(max-width:1024px) {}

@media(max-width:991px) {
	.sub-heading-section h2 {
		padding-top: 0px;
	}
}

@media(max-width:767px) {
	.sub-heading-section h2 {
		font-size: 32px;
		line-height: 42px;
		padding-bottom: 15px;
	}
	.theme-btn {
		padding: 14px 18px;
		min-width: 180px;
	}
	.sub-heading-section h5 {
		font-size: 16px;
	}
    .theme-btn {
		font-size: 13px;

	}
}
