.t-footer {
	background-color: #050d36;
	padding-top: 60px;
}

.footer-logo p {
	font-family: 'Roboto', sans-serif;
	color: #d1d9fe;
	margin-top: 24px;
	margin-bottom: 34px;
}

.footer-logo img {
	height: 70px;
	object-fit: contain;
}

.social-media-icon a {
	margin-left: 20px;
	display: inline-block;
}

.social-media-icon a:first-child {
	margin-left: 0px;
}

.social-media-icon a i {
	width: 45px;
	height: 45px;
	background-color: rgb(255, 255, 255, 0.1);
	border-radius: 4px;
	line-height: 18px;
	font-size: 18px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.social-media-icon a i:hover {
	background-color: var(--pr-color);
}

.quick-link-tittle {
	color: #ffffff;
	margin-bottom: 24px;
	font-size: 25px;
	line-height: 35px;
}

footer .quick-link-list li {
	margin-bottom: 10px;
}

footer .quick-link-list li a {
	line-height: 15px;
	color: #d1d8fe;
}

footer .quick-link-list li:hover a {
	padding-left: 10px;
	color: var(--dark-pink);
}

footer .link-section {
	padding-left:80px;
}

.news-letter-frm {
	position: relative;
}

.news-letter-frm input {
	width: 100%;
	height: 60px;
	background: #ffffff;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	color: #131830;
	border: none;
	outline: none;
	padding: 12px 65px 12px 30px;
	border-radius: 8px;
	box-shadow: none;
}

.news-letter-frm button {
	border: 0;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 8px 8px 0;
	font-size: 20px;
	width: 60px;
	height: 60px;
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	font-weight: 500;
	color: #ffffff !important;
	background-color: var(--dark-pink);
	display: inline-block;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	z-index: 1;
}

.news-letter-frm button:hover {
	background-color: var(--pr-color);
}


/*copyright-css-start*/

.copyright-section {
	background-color: #020828;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
}

.copyright-section p {
	font-family: 'Roboto', sans-serif;
	line-height: 15px;
	color: #d1d8fe;
	font-weight: 400;
}

.copyright-section p a {
	color: var(--dark-pink);
}

.copyright-section p a:hover {
	color: var(--pr-color);
}


/*copyright-css-start*/

@media(max-width:1399px) {
	.quick-link-tittle {
		font-size: 22px;
	}
}

@media(max-width:1199px) {
	.t-footer .social-media-icon a {
		margin-left: 10px;
	}
	footer .link-section {
		padding-left: 80px;
	}
	.social-media-icon a i {
		width: 40px;
		height: 40px;
		font-size: 16px;
	}
	.t-footer .social-media-icon a:first-child {
		margin-left: 0px;
	}
}

@media(max-width:1024px) {
	footer .link-section {
		padding-left: 0px;
	}
}

@media(max-width:991px) {
	.footer-logo {
		margin-bottom: 0;
		margin-top:30px;
	}
	.footer-logo img {
		height: 60px;
	}
	.footer-logo p {
		font-size: 15px;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	footer .link-section {
		padding-left: 0px;
	}
	.quick-link-tittle {
		margin-bottom: 15px;
		margin-top: 30px;
	}
	.t-footer {
		padding-top: 30px;
	}
}

@media(max-width:767px) {
	.footer-logo img {
		height: 50px;
	}
	.footer-logo p {
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.copyright-section p {
		line-height: 18px;
		font-size: 14px;
	}
}
