/*topbar-css-start*/
.scroll-stop{
    overflow: hidden;
}
.top-bar {
    height: 45px;
    background: #050d36;
    transition: 0.3s;
}

.top-bar .row {
    height: 45px;
}

.top-bar-left i {
    font-size: 18px;
    color: var(--pr-color);
    margin-right: 15px;
}

.top-bar-left a, .top-bar-left span {
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.top-bar-left a:hover,
.top-bar-right a:hover {
    color: var(--pr-color);
}

.top-bar-right a {
    display: inline-block;
    color: #fff;
}

.top-bar-right a {
    display: inline-block;
    color: #fff;
    margin-left: 12px;
}

/*topbar-css-end*/


/*navbar-css-start*/

.t-navbar.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 24px;
    color: #050d36;
    font-weight: 600;
    transition: 0.3s;
    /*font-family: 'Roboto', sans-serif;*/
    padding: 0;
    margin: 0px 24px;
}

.t-navbar.navbar-expand-lg .navbar-nav .nav-link.active,
.t-navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.sticky-header .t-navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.sticky-header .t-navbar.navbar-expand-lg .navbar-nav .nav-link.active {
    color: var(--dark-pink);
}

.t-navbar.navbar-expand-lg .theme-btn {
    margin-left: 10px;
}

.t-navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.t-navbar .navbar-brand img {
    /*height:100px;*/
    object-fit: contain;
    max-width: 300px;
    width: 300px;
}

.t-navbar {
    padding: 10px 0;
}

.sticky-header .t-navbar {
    padding: 10px 0px;
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    transition: 0.3s;
}

@keyframes headerSlideDown {
    0% {
        margin-top: -150px;
    }

    100% {
        margin-top: 0;
    }
}

.sticky-header .t-navbar.navbar-expand-lg .navbar-nav .nav-link {
    color: #051136;
}



.t-header.sticky-header {
    background-color: #fff;
    box-shadow: 6px 6px 60px 0px rgb(0 0 0 / 10%);
    transition: 0.3s;
}

.sticky-header .top-bar {
    margin-top: -45px;
    transition: 0.3s;
}

.t-header .dropdown-toggle::after {
    display: none;
}

.t-header .dropdown-toggle::before {
    content: "\f107";
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    right: 8px;
    font-size: 16px;
    color: #010f2e;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.t-header .dropdown-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.t-header .dropdown-item:focus,
.t-header .dropdown-item:hover {
    color: var(--dark-pink);
    background-color: transparent;
}

.t-header .navbar-toggler {
    position: fixed;
    top: 5px;
    right: 30px;
    width: 60px;
    height: 60px;
    padding: 0 15px;
    background-color: #f59320;
    border-radius: 8px;
    text-align: center;
    border: none;
    outline: none;
    z-index: 110;
}



.t-header .navbar-toggler span {
    width: 30px;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: 3px auto 3px auto;
    position: relative;
    top: 0;
    opacity: 1;
    float: right;
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}
/*.t-header .navbar-toggler span:last-child{
    margin-bottom:0px;
}*/
.t-header .navbar-toggler span:nth-child(2) {
    width: 25px;
}

.t-header .navbar-toggler[aria-expanded="true"] {
    background-color: #e85292;
}

.t-header .navbar-toggler[aria-expanded="true"] span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 9px;
}

.t-header .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
}

.t-header .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -9px;
}

.crs-drp li {
    margin-bottom: 15px;
}

.crs-drp li:last-child {
    margin-bottom: 0px;
}

.crs-drp li a .icon {
    margin-right: 10px;
    display: inline-block;
    width: 35px;
}

.crs-drp li a .icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.crs-drp {
    min-width: 325px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}


/*navbar-css-end*/

@media(max-width:1399px) {
    .t-navbar .navbar-brand img {
        max-width: 250px;
    }
}

@media(max-width:1199px) {
    .t-navbar.navbar-expand-lg .navbar-nav .nav-link {
        margin: 0px 15px;
    }

    .t-header .dropdown-toggle::before {
        right: 2px;
    }
}

@media(max-width:991px) {}

@media(max-width:767px) {}

@media(min-width:992px) {
    .t-header .dropdown-menu {
        transition: 0.2s;
        left: -15px;
        width: 200px;
        box-shadow: 1px 1px 60px rgb(0 0 0 / 10%);
        border: none;
    }

    .t-header .dropdown:hover .dropdown-menu {
        animation: swip_up 0.3s linear 1;
        display: block;
    }

    @keyframes swip_up {
        from {
            transform: translate(0, 20px);
            opacity: 0;
        }

        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .t-header .dropdown:hover .dropdown-toggle::before {
        transform: translate(0, -50%) rotate(-180deg);
        color: var(--theme-color);
    }
}

@media(max-width:991px) {
    .t-header {
        /*background: rgb(255, 255, 255, 0.8);*/
        height: 70px;
        padding: 0;
        /*        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        -moz-backdrop-filter: blur(20px);
        -ms-backdrop-filter: blur(20px);
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);*/
    }

    .t-navbar {
        padding: 8px 0px;
    }

    .t-header .container {
        max-width: 100%;
        padding: 0 30px;
    }

    .sticky-header .t-navbar {
        animation: none;
        padding: 8px 0px;
    }

    .t-header .navbar-collapse {
        position: relative;
    }

    .t-header .navbar-collapse::before {
        content: "";
        position: absolute;
        width: 800px;
        height: 800px;
        opacity: 0.5;
        background: radial-gradient(ellipse at center, rgba(0, 96, 255, 0.6) 0%, rgba(0, 96, 255, 0.6) 0%, rgba(0, 96, 255, 0) 68%, rgba(0, 96, 255, 0) 100%);
        -webkit-background: radial-gradient(ellipse at center, rgba(0, 96, 255, 0.6) 0%, rgba(0, 96, 255, 0.6) 0%, rgba(0, 96, 255, 0) 68%, rgba(0, 96, 255, 0) 100%);
        top: -430px;
        right: -310px;
        z-index: -1;
    }

    /* .t-header .navbar-collapse::after {
        content: "";
        position: absolute;
        width: 655px;
        height: 655px;
        opacity: 0.4;
        background: radial-gradient(ellipse at center, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0) 68%, rgba(255, 82, 25, 0) 100%);
        -webkit-background: radial-gradient(ellipse at center, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0) 68%, rgba(255, 82, 25, 0) 100%);
        bottom: -110px;
        left: -330px;
        z-index: -1;
    } */

    .t-header .navbar-collapse {
        position: fixed;
        top: 0;
        right: -400px;
        width: 320px;
        height: 100vh;
        max-height: 100vh;
        background: #050d36;
        text-align: center;
        padding: 100px 0 30px;
        box-shadow: -30px 0 30px rgb(0 0 0 / 10%);
        transition: 0.5s;
        opacity: 0;
        z-index: 100;
        overflow: hidden;
        overflow-y: auto;
    }

    .t-navbar.navbar-expand-lg .navbar-nav .nav-link {
        display: block;
        padding: 15px 40px 15px 40px;
        opacity: 0;
        transition: 0.5s;
    }

    .t-header .navbar-collapse.show {
        right: 0;
        opacity: 1;
        z-index: 100;
    }

    .t-header .navbar-collapse.show ul li .nav-link {
        text-align: left;
        border-bottom: solid 1px rgb(225, 225, 225, 0.2);
        opacity: 1;
        transition: 0.5s;
        transition-delay: 0.4s;
    }

    .t-navbar.navbar-expand-lg .navbar-collapse.show ul li a.nav-link {
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        margin: 0px 0px;
        position: relative;
    }

    .t-header .dropdown-toggle::before {
        color: #fff;
        right: 15px;
    }

    .t-header .dropdown-menu {
        background-color: transparent;
    }

    .t-header .dropdown-item {
        padding: 10px 0px 20px 55px;
        border-bottom: solid 1px rgb(225, 225, 225, 0.2);
        color: #fff;
        font-size: 14px;
    }

    .t-navbar.navbar-expand-lg .navbar-collapse.show ul li a.nav-link.active {
        color: var(--theme-color);
    }

    .t-navbar .navbar-brand img {
        max-width:200px;
        height: 60px;
    }
}

@media(max-width:767px) {
    .t-header .container {
        max-width: 100%;
        padding:0 0.75rem;
    }

    .t-header .navbar-toggler {
        right: 0.75rem;
    }
}
