/*login page my css*/
.login-outer  .form-control:not(textarea) {
    min-height: 52px;
    font-size: 18px;
}
.login-outer  textarea{
    resize: none;
}
.login-outer {
    width: 100%;
    background-image: url(../images/bg-bg-banner.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.login-area {
    width: 600px;
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 2px #e3e3e3;
    margin:30px auto;
}
.login-list {
    display: flex;
}
.login-area h2.title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-area .lg-logo{
    width:300px;
}
.login_btn {
    color: #fff!important;
    background-color: #7e3e97;
    display: block;
    text-align: center;
    border-radius: 100px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
    transition: 0.5s;
}
.login_btn:hover {
    background-color: #f5931f;
}
.custom-input-box select{
    padding: 10px 20px 10px 30px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #7e3e97;
    font-weight: 400;
}
.custom-input-box {
    margin-top: 30px;
    position: relative;
}
.custom-input-box  .fa-eye-slash {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #bfbfbf;
    display: inline-block;
    transform: translateY(-50%);
}
.custom-input-box span {
    position: absolute;
    top: 14px;
    left:0px;
    margin-right: 20px;
    display: inline-block;
    color: #7e3e97;
}
.login-area input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
    box-shadow: none;
}
.custom-input-box input{
    height: 55px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 20px 20px 20px 40px;
    font-size: 17px;
    font-weight: 300;
}
.register-page.login-area .custom-input-box select{
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding-left: 40px;
    font-size: 17px;
    font-weight: 300;
}
.custom-input-box span {
    left: 10px;
}
.login-area label {
    color: #AEADAD;
    font-weight: 300;
}
.link-logs{
    color: #f5931f;
}
.link-logs:hover{
    color: #f5931f;
}
.login-area li a {
    color: #7e3e97;
    text-decoration: underline;
}
.login-area input[type=checkbox]:checked {
    background-color: #7e3e97;
    border: none;
    border: 1px solid #7e3e97;
    box-shadow: none;
    position: relative;
}
.custom-input-box ::placeholder {
    color: #000!important;
    opacity:0.4;
}
.custom-input-box span i {
    font-weight: 500;
}
.social-link li a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5931f;
    transition: .5s all;
    border-radius: 100px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #e1e1e1;
}
.social-link li a:hover{
    color:#fff;
    background-color:#f5931f;
}
.icon-hour {
    position: absolute;
    right: -42px;
    bottom: 0;
    width: 350px!important;
}
.arrow-icon {
    position: absolute;
    right: 320px;
    bottom: 0px;
    width: 350px!important;
    z-index: -1;
}
.arrow-1 {
    position: absolute;
    left: -80px;
    bottom: 0px;
    width: 403px!important;
    transform: rotate(337deg);
    z-index: -1;
}
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 100px;
    bottom: -160px;
    animation: move-infinite 25s infinite;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
    width: 80px;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
    left: 60%;
    width: 50px;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 40px;
    height: 40px;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 80px;
    height: 80px;
    animation-delay: 15s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
    left: 90%;
    width: 70px;
    height: 70px;
    animation-delay: 6s;
}
.bg-bubbles li:nth-child(10) {
    left: 20%;
    width: 100px;
    height: 100px;
    animation-delay: 6s;
}
.custom-input-box .form-control:focus {
    border: 1px solid #ee5092;
}
@keyframes move-infinite {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0px) rotate(100deg);
    }
}
@keyframes move-infinite {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0px) rotate(100deg);
    }
}
.register-page.login-area{
    width:700px;
}
@media(max-width:1399px){
    .login-area{
        width: 500px;
        padding: 30px 40px;
    }
    .custom-input-box {
        margin-top: 20px;
    }
    .login-area h2.title {
        margin-bottom: 20px;
    }
    .login_btn{
        margin-top:30px;
    }
    .social-link li a {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin: 0px 10px;
    }
    .login-list.mt-4{
        margin-top: 10px!important;
    }
    .login-outer img {
        width: 70px;
    }
    .icon-hour {
        width: 250px!important;
    }
    .login-area input[type=checkbox]{
        height: 20px;
        width: 20px;
        margin-right:5px;
    }
}
@media(max-width:1199px){
    .login-area input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin-right:10px;
    }
    .custom-input-box span {
        margin-right: 10px;
    }
    .login-area h2.title {
        margin-bottom: 15px;
        margin-top:10px;
    }
    .custom-input-box {
        margin-top:15px;
    }
    .custom-input-box input {
        padding: 15px 20px 15px 35px;
    }
    .form-control:not(textarea) {
        height: 46px;
        font-size: 16px;
    }
}
@media(max-width:991px){
    .login-area {
        width: 400px;
        padding:20px 20px;
    }
    .icon-hour {
        width: 150px!important;
        right: -15px;
        bottom: 0px;
    }
    .arrow-1 {
        width: 243px!important;
    }
    .arrow-icon {
        right:100px;
        width: 200px!important;
    }
    .login-area .lg-logo{
        width:300px;
    }
    .login_btn {
        font-size: 16px;
        line-height: 16px;
        padding: 13px 0px;
        margin-top:25px;
    }
    .login-area {
        margin: 20px auto;
    }
}
@media(max-width:575px){
    .arrow-1 ,.arrow-icon{
        display: none;
    }
    .login-area .lg-logo {
        width: 200px;
    }
    .login-outer img {
        width: 50px;
    }
    .login-area input[type=checkbox] {
        margin-right: 5px;
    }
    .login-area label {
        font-size: 14px;
    }
    /* .login-area {
        background-color: rgb(255 255 255 / 80%);
    } */
}
