@media (min-width: 1400px) and (max-width: 1650px) {
	.banner-shape-1,
	.banner-shape-2 {
		left: 15px;
	}
}

@media (max-width: 1700px) {
	.bg-shapess .math {
		width: 154px;
	}
	.bg-shapess .tringle-pink {
		top: 667px;
		right: 32px;
		width: 114px;
	}
	.raket-shap {
		right: 21px;
		top: -123px;
		width: 150px;
	}
	.music-icon {
		left: 48px;
		top: 86px;
		width: 85px;
	}
	.abt-bg-shapess .code-shape {
		left: 39px;
		width: 190px;
	}
	.paint-shap {
		right: 10px;
		bottom: 103px;
		width: 166px;
	}
	.bg-shapess .abcd-shape {
		bottom: 37px;
		width: 225px;
	}
}

@media (max-width: 1599px) {
	.bg-shapess .sky-arrow {
		top: -113px;
		left: -119px;
		width: 377px;
	}
	.bg-shapess .math,
	.bg-shapess .tringle-pink {
		top: 600px;
	}
	.raket-shap {
		right: -1px;
		top: -73px;
		width: 126px;
		transform: rotate(0deg);
	}
	.music-icon {
		left: 25px;
		top: 30px;
		width: 69px;
	}
	.paint-shap {
		right: 10px;
		bottom: 125px;
		width: 135px;
	}
	.abt-bg-shapess .code-shape {
		left: 39px;
		width: 150px;
	}
}

@media (max-width: 1440px) {}

@media (max-width: 1400px) {
	.pf-page-section {
		margin-top: -150px;
	}
	.pf-page-section-right {
		margin-top: 120px;
	}
	.pf-page-section-img img {
		height: 300px;
	}
	.side-bar-heading {
		font-size: 26px;
	}
	.inner-page-banner h1 {
		font-size: 56px;
		line-height: 66px;
	}
	.inner-page-banner {
		padding-top: 200px;
		padding-bottom: 150px;
	}
	.instructor-bg.inner-page-banner {
		padding-top: 262px;
		padding-bottom: 154px;
		background-position: center;
	}
	.inner-page-banner .banner-shape-2 {
		top: 320px;
	}
	.banner-shape-3 {
		top: 250px;
	}
	.inner-page-banner .banner-shape-4 {
		top: 310px;
	}
}

@media (max-width: 1399px) {
	.hm-pge-banner .banner-content h1 {
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 38px;
	}
	.banner-shape-1 {
		width: 90px;
		top: 210px;
		left: 30px;
	}
	.banner-shape-2 {
		width: 55px;
		top: 670px;
		left: 35px;
	}
	.banner-shape-3 {
		width: 263px;
	}
	.banner-shape-4 {
		top: 650px;
		right: 116px;
		width: 30px;
	}
	.hm-pge-banner {
		padding-top: 200px;
		padding-bottom: 60px;
	}
	.abt-section .abt-section-img {
		/*	width: 660px;*/
		float: left;
	}
	.cta h2 {
		font-size: 45px;
		line-height: 55px;
	}
	.category-section .category-inner h3 a {
		font-size: 22px;
	}
	.inner-page-banner .banner-shape-1 {
		width: 90px;
		top: 210px;
		left: 30px;
	}
	.category-section-new ul li .category-inner .theme-btn {
		font-size: 12px;
	}
	.category-section-new ul li .category-inner h3 a {
		font-size: 20px;
	}
	.programe-inner-sec {
		padding: 20px 11px;
	}
	.programe-inner-sec .inner-heading {
		font-size: 22px;
	}
	.raket-shap {
		right: -9px;
		top: -26px;
		width: 114px;
	}
	.bg-shapess .abcd-shape {
		bottom: 37px;
		width: 206px;
	}
	.paint-shap {
		right: 10px;
		bottom: 101px;
		width: 96px;
	}
	#course-modal .form-control {
		height: 40px;
	}
	#course-modal .form-control,
	#course-modal label {
		font-size: 16px;
	}
	#course-modal .mb-4 {
		margin-bottom: 15px !important;
	}
	#course-modal label.mb-2 {
		margin-bottom: 5px !important;
	}
	.banner-shape-2 {
		width: 48px;
		top: 633px;
		left: -13px;
	}
	.hm-pge-banner:before {
		left: -530px;
	}
	.banner-shape-1 {
		width: 90px;
		top: 168px;
		left: -24px;
	}
	.category-section-new {
		padding-top: 50px;
	}
	.course-price-text .inner-heading {
		font-size: 18px;
	}
	.left-payment-box,
	.right-form-details {
		padding: 50px;
	}
}

@media (max-width: 1199px) {
	.hm-pge-banner .banner-content .theme-btn2 {
		margin-left: 0px;
		margin-top: 30px;
	}
	/*.abt-section .abt-section-img:after{
background-size:auto;
}*/
	.hm-pge-banner .banner-content h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.hm-pge-banner .banner-content h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.hm-pge-banner-right {
		max-width: unset;
		/*	width: 570px;*/
	}
	.category-section .category-inner h3 a,
	.oc-sec-inner-content h3 a,
	.our-events-list-right h3 a,
	.experts-inner h3 a,
	.blg-section .blg-content h3 a {
		font-size: 22px;
	}
	.oc-sec-inner-content h3 a,
	.blg-section .blg-content h3 a {
		line-height: 30px;
	}
	.blg-section .blg-comment p:first-child {
		margin-right: 6px;
		padding-right: 6px;
	}
	.cta h2 {
		font-size: 37px;
		line-height: 47px;
	}
	.our-events-list-left h3 {
		font-size: 30px;
		line-height: 30px;
	}
	.fs-list li .fs-list-content h4 {
		line-height: 25px;
		font-size: 22px;
	}
	.inner-page-banner {
		padding-top: 232px;
		padding-bottom: 124px;
	}
	.inner-page-banner h1 {
		font-size: 60px;
		line-height: 70px;
	}
	.inner-page-banner .banner-shape-2 {
		top: 320px;
		left: 245px;
	}
	.inner-page-banner .banner-shape-3 {
		top: 188px;
	}
	.inner-page-banner .banner-shape-4 {
		width: 50px;
		top: 340px;
		right: 336px;
	}
	.inner-heading {
		font-size: 22px;
		line-height: 30px;
	}
	.contact-section .cntct-details {
		padding: 50px 40px;
	}
	.contact-section .cntct-details h3 {
		font-size: 32px;
		line-height: 42px;
	}
	.programe-inner-sec {
		padding: 20px 7px;
	}
	.programe-inner-sec p {
		font-weight: 400;
		font-size: 15px;
	}
	.programe-inner-sec .inner-heading {
		font-size: 18px;
	}
	.bg-shapess .abcd-shape {
		bottom: 13px;
		width: 206px;
	}
	.raket-shap {
		right: 42px;
		top: 17px;
		width: 86px;
		transform: rotate(127deg);
	}
	.abt-bg-shapess .code-shape {
		left: 39px;
		width: 118px;
		bottom: 125px;
	}
	.hm-pge-banner .banner-content {
		padding-bottom: 0px;
	}
	.found-content {
		padding: 50px;
	}
	.experts-inner .img-sec img {
		height: 342px;
	}
	.enroll-detail .enroll-item {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.enroll-detail .enroll-item span:last-child {
		margin-top: 15px;
	}
}

@media (max-width: 1024px) {
	.hm-pge-banner-right {
		width: 100%;
	}
	.aliment-1 {
		top: 218px;
	}
	.aliment-2 {
		top: 336px;
	}
	.aliment-3 {
		top: 439px;
	}
	.banner-shape-1 {
		width: 60px;
		top: 170px;
	}
	.banner-shape-2 {
		width: 35px;
		top: 620px;
		left: 35px;
	}
	.banner-shape-4 {
		top: 550px;
		right: 45px;
		width: 30px;
	}
	.event-video-content .h3-title {
		font-size: 22px;
	}
	.programe-inner-sec {
		padding: 20px 7px;
	}
	.programe-inner-sec p {
		font-weight: 400;
		font-size: 15px;
	}
	.programe-inner-sec .inner-heading {
		font-size: 18px;
	}
	.found-card p {
		font-size: 15px;
	}
	.banner-shape-2 {
		width: 41px;
		top: 581px;
		left: -16px;
	}
	.banner-shape-1 {
		width: 67px;
		top: 158px;
		left: -10px;
	}
	.bg-shapess .sky-arrow {
		top: -113px;
		left: -149px;
		width: 377px;
	}
	.raket-shap {
		right: 24px;
		top: -9px;
		width: 90px;
		transform: rotate(127deg);
	}
	.partnres-logo-section .cta {
		margin-top: 5px;
	}

}

@media (max-width: 991px) {
	.course-detail-title h2 {
		font-size: 22px;
	}
	.instructor-bg.inner-page-banner {
		padding-top: 192px;
	}
	.pf-page-section-img img {
		height: 250px;
	}
	.pf-page-section-right h3 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.reviews-pf i {
		font-size: 20px;
		margin: 0px 2px;
	}
	.reviews-pf a {
		font-size: 12px;
		margin-left: 5px;
	}
	.course-details-img {
		margin-bottom: 25px;
	}
	.f-img .main-founder {
		object-fit: cover;
		height: 180px;
		border-radius: 100%;
		box-shadow: 0 0 15px -2px #cccccc;
	}
	.hm-pge-banner .banner-content h1 {
		text-align: center;
	}
	.f-img {
		width: 180px;
		height: 180px;
		position: relative;
		z-index: 99;
		text-align: center;
	}
	.m-top-t {
		margin-top: 0;
	}
	.hm-pge-banner {
		padding-top: 140px;
	}
	.hm-pge-banner .banner-content {
		text-align: center;
	}
	.hm-pge-banner .banner-content p {
		padding: 0px 100px;
		font-size: 15px;
		line-height: 24px;
	}
	.abt-section .abt-section-img {
		float: left;
		max-width: 100%;
	}
	.abt-section .abt-right,
	.our-events .our-events-right {
		padding-left: 0px;
		margin-top: 50px;
	}
	.price-section .price-sec-inner {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.features-section {
		padding-bottom: 350px;
	}
	.features-section:after {
		height: 400px;
		width: 100%;
		right: 0;
		top: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		bottom: 0;
	}
	.testmonila-section .slick-dotted.slick-slider,
	.blg-section .blg-inner {
		margin-top: 30px;
	}
	.cta {
		text-align: center;
	}
	.cta .text-end {
		text-align: center !important;
		margin-top: 25px;
	}
	.course-slider-section .slick-slide,
	.blg-slider-section .slick-slide,
	.price-slider-section .slick-slide {
		margin-left: 7.5px;
		margin-right: 7.5px;
	}
	.category-section {
		padding-top: 75px;
		padding-bottom: 50px;
	}
	.abt-section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.online-course-sec {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.our-events {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.features-section-inner,
	.courses-page-section {
		padding-top: 80px;
		padding-right: 0px;
	}
	.price-section,
	.testmonila-section,
	.blg-section {
		padding-top: 75px;
		padding-bottom: 100px;
	}
	.expert-section {
		padding-bottom: 70px;
	}
	.contact-section {
		padding-top: 80px;
		padding-bottom: 50px;
	}
	.faq-section {
		padding-top: 77px;
		padding-bottom: 60px;
	}
	.get-touch-box {
		margin-top: 50px;
		padding-left: 0px;
	}
	.courses-details-page-section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.inner-page-banner {
		padding-top: 192px;
	}
	.inner-page-banner .banner-shape-2 {
		top: 260px;
		left: 155px;
	}
	.inner-page-banner .banner-shape-3 {
		top: 117px;
	}
	.inner-page-banner .banner-shape-4 {
		top: 260px;
		right: 226px;
	}
	.inner-page-banner .banner-shape-1 {
		width: 100px;
		top: 140px;
	}
	.programe-section {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.expert-team {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.expert-section {
		padding-bottom: 70px;
	}
	.courses-page-left-sec {
		padding-left: 0px;
		margin-top: 80px;
	}
	.sidbar-details-courses {
		margin-top: 50px;
	}
	.question-card .card {
		padding: 20px;
		font-size: 18px;
	}
	.icon-s-card img {
		width: 41px;
	}
	.bg-shapess .sky-arrow {
		top: -103px;
		left: -90px;
		width: 339px;
		transform: rotate(4deg);
	}
	.bg-shapess .math {
		display: none;
	}
	.abt-bg-shapess .code-shape {
		left: 39px;
		width: 118px;
		bottom: 800px;
	}
	.paint-shap {
		right: 40px;
		bottom: 90px;
		width: 103px;
	}
	.oc-sec-inner {
		background-color: #ffffff;
		box-shadow: 0px 0 10px 0px rgb(0 0 0 / 10%);
	}
	.music-icon {
		left: 25px;
		top: 30px;
		width: 48px;
	}
	.found-card {
		margin-bottom: 30px;
		padding: 30px 10px;
	}
	.found-content {
		padding: 0px 32px;
	}
	.found-card p {
		font-size: 14px;
	}
	.category-section-new {
		padding-top: 100px;
	}
	.bg-shapess .sky-arrow {
		top: -105px;
		left: -97px;
		width: 317px;
	}
	.question-card .card p {
		font-size: 20px;
	}
	.question-card .card .c-pic {
		width: 90px;
	}
	.question-card .card .pencil-pic {
		width: 53px;
	}
	.yellow-bg {
		top: -20px;
		right: -15px;
	}
	ul.abt-section-list li:last-child {
		margin-bottom: 0px;
	}
	.cta {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.expert-team h3 {
		font-size: 25px;
	}
	.link-section,
	.quick-link-tittle {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.course-item {
		box-shadow: 0px 0 7px 1px rgb(80 80 80 / 10%);
	}
	.modal.show .modal-dialog {
		max-width: 700px !important;
	}
    .slot-cards {

        padding: 30px 10px 0px 40px;
}

@media (max-width: 767px) {
	.courses-page-list-sec {
		display: block;
	}
	.question-card label {
		font-size: 16px;
	}
	.form-control:not(textarea) {
		height: 42px;
	}
	.question-card .mb-4 {
		margin-bottom: 0.7rem !important;
	}
	.courses-page-list-sec-inner {
		margin-bottom: 20px;
	}
	.aliment-2 {
		top: 350px;
	}
	.aliment-1 {
		top: 252px;
	}
	.found-content {
		text-align: center;
	}
	.course-img ul {
		width: 100%;
		/*justify-content:center;*/
	}
	.category-section-new ul li .category-inner {
		padding: 26px 15px;
	}
	.found-content {
		padding-top: 30px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.abt-section {
		padding-bottom: 150px;
	}
	.yellow-bg {
		top: -5px;
	}
	.banner-shape-4 {
		display: none;
	}
	.read-m-team {
		left: 50%;
		transform: translateX(-50%);
	}
	.question-card {
		padding: 20px;
	}
	.abt-section .aliment-1 {
		right: 40px;
	}
	.hm-pge-banner .banner-content h2 {
		font-size: 18px;
	}
	.hm-pge-banner .banner-content h1 {
		font-size: 38px;
		line-height: 48px;
	}
	.hm-pge-banner .banner-content p {
		padding: 0px 0px;
		margin-bottom: 30px;
	}
	.hm-pge-banner .banner-content .theme-btn2 {
		margin-left: 0px;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.banner-shape-3 {
		top: 300px;
		width: 100px;
	}
	.slick-dots {
		bottom: -30px;
	}
	.slick-dotted.slick-slider {
		margin-bottom: 10px;
	}
	.our-events-list li {
		display: block;
		text-align: center;
	}
	.our-events-list-right {
		border-top: 1px solid #cccccc;
		border-left: none;
		padding-left: 0px;
		margin-left: 0px;
		padding-top: 15px;
		margin-top: 15px;
	}
	.our-events-list-right .our-events-list-date {
		justify-content: center;
	}
	.cta .row {
		/*padding: 30px 20px;*/
		margin: 0px 0px;
	}
	.cta h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.inner-page-banner h1 {
		font-size: 48px;
		line-height: 58px;
	}
	.bg-shapess .star1 {
		width: 80px;
	}
	.bg-shapess .sky-arrow {
		top: -51px;
		left: -47px;
		width: 223px;
		transform: rotate(15deg);
	}
	.bg-shapess .star2 {
		width: 102px;
	}
	.bg-shapess .abcd-shape {
		width: 137px;
	}
	.paint-shap {
		right: 50px;
		bottom: 78px;
		width: 90px;
		opacity: 0.6;
	}
	.music-icon {
		left: 18px;
		top: 13px;
		width: 30px;
	}
	.raket-shap {
		display: none;
	}
	.abt-bg-shapess .code-shape {
		left: 271px;
		width: 77px;
		bottom: 1239px;
	}
	.category-section-new ul li .category-inner img {
		max-width: 50px;
		height: 50px;
	}
	.category-section-new ul li .category-inner .theme-btn {
		padding: 8px 20px !important;
		min-width: auto;
	}
	.category-section-new ul li .category-inner h3 a {
		font-size: 18px;
	}
	.aliment-content p {
		font-size: 15px;
	}
	.aliment-3 {
		left: 30px;
	}
	.banner-shape-1 {
		width: 67px;
		top: 105px;
		left: -10px;
	}
	.testimonials-details:after {
		width: 54px;
	}
	.experts-inner .img-sec img {
		height: 450px;
	}
	.pf-page-section-img {
		text-align: center;
	}
	.pf-page-section-right {
		margin-top: 30px;
	}
	.course-sidebar,
	.course-detail-inner .course-col+.course-col {
		margin-top: 20px;
	}
}

@media (max-width: 575px) {
	.inner-page-banner .banner-shape-2 {
		top: 260px;
		left: 75px;
	}
	.inner-page-banner .banner-shape-4 {
		top: 260px;
		right: 96px;
	}
	.theme-breadcrum ul li a,
	.theme-breadcrum ul li {
		font-size: 14px;
	}
	.courses-page-list-sec-dropdown .form-select {
		/*width:100%;*/
		margin-top: 10px;
	}
	.theme-pagination .pagination-arrow {
		margin: 0 10px;
	}
	.cta h2 {
		font-size: 26px;
		line-height: 36px;
	}
	.testimonials-details {
		padding: 20px;
	}
	.f-img {
		text-align: center;
	}
	.found-content {
		text-align: center;
		margin-top: 15px;
	}
	.expert-team h3 {
		text-align: center;
	}
	.aliment-1 {
		display: none;
	}
	.aliment-2 {
		display: none;
	}
	.aliment-3 {
		display: none;
	}
	.bg-shapess .sky-arrow {
		left: -61px;
		top: -41px;
		left: -47px;
		width: 182px;
	}
	.question-card .card p {
		font-size: 15px;
	}
	.question-card .card .c-pic {
		width: 75px;
		margin-bottom: 20px;
	}
	.question-card .card .pencil-pic {
		width: 45px;
	}
	.question-card .card {
		border-top-left-radius: 32px;
		/* border-bottom: 4px solid #ef5092; */
	}
	.sign-card .question-card {
		padding: 55px 16px 55px 16px;
	}
	.sign-card .btn-close {
		margin-right: -12px !important;
	}
	.modal-title {
		font-size: 20px;
	}
	.sign-card .question-card {
		padding: 40px 16px 55px 16px;
	}
	.left-payment-box,
	.right-form-details {
		padding: 30px;
	}
	.left-payment-box .card-chek-box {
		padding: 20px;
	}
	.experts-inner .img-sec img {
		height: 250px;
	}
	.category-section-new ul li .category-inner h3 a {
		font-size: 17px;
	}
	.category-section-new ul li .category-inner {
		padding: 26px 3px;
	}
	.courses-page-list-sec {
		padding: 10px 10px;
	}
	.courses-page-list-sec-dropdown .form-select {
		width: 60%;
	}
    ul.abt-section-list li,.course-col-text p {

        font-size: 15px;
    }
}

@media (max-width: 375px) {
	.inner-page-banner h1 {
		font-size: 38px;
		line-height: 48px;
	}
	.theme-breadcrum ul li a,
	.theme-breadcrum ul li {
		font-size: 12px;
	}
	.category-section-new ul li .category-inner h3 a {
		font-size: 12px;
	}
	.category-section-new ul li .category-inner img {
		margin-bottom: 5px;
	}
	.category-section-new ul li .category-inner {
		padding: 26px 5px;
	}
	.inner-page-banner .banner-shape-2 {
		width: 50px;
		top: 260px;
		left: 65px;
	}
	.inner-page-banner .banner-shape-4 {
		width: 40px;
		top: 260px;
		right: 46px;
	}
	.theme-breadcrum {
		display: block;
		padding: 15px 15px;
	}
	.event-video-play-box {
		padding: 27px 32px;
	}
	.course-details-date-pf {
		display: block;
	}
	.course-details-date-pf .course-detail-rating-box {
		margin: 15px 0px;
	}
	.course-price-text .inner-heading {
		font-size: 18px;
	}
	.course-price-text {
		justify-content: space-between;
	}
	.course-price-text p {
		margin-left: 15px;
	}
	.contact-section .cntct-details {
		padding: 30px 15px;
	}
	.contact-section .cntct-details .content h4 {
		font-size: 18px;
		line-height: 28px;
	}
	.cta .row {
		margin: 0px -5px;
	}
	.cta .row .theme-btn {
		padding: 18px 25px !important;
	}
}