/*hm-pge-banner-css-start*/

section {
	overflow: hidden;
}

.hm-pge-banner {
	position: relative;
	padding-top: 233px;
	overflow: hidden;
}

.hm-pge-banner .container {
	position: relative;
	z-index: 99;
}

.hm-pge-banner:before {
	content: "";
	position: absolute;
	width: 900px;
	height: 900px;
	border-radius: 100%;
	top: -110px;
	left: -370px;
	opacity: 0.5;
	background: radial-gradient(ellipse at center, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0) 68%, rgba(0, 95, 252, 0) 100%);
	-webkit-background: radial-gradient(ellipse at center, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0) 68%, rgba(0, 95, 252, 0) 100%);
	z-index: -5;
}

.hm-pge-banner:after {
	content: "";
	position: absolute;
	width: 900px;
	height: 900px;
	border-radius: 100%;
	top: 37px;
	right: -390px;
	opacity: 0.5;
	background: radial-gradient(ellipse at center, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0) 68%, rgba(255, 82, 25, 0) 100%);
	-webkit-background: radial-gradient(ellipse at center, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0) 68%, rgba(255, 82, 25, 0) 100%);
	z-index: -5;
}

.hm-pge-banner .banner-content {
	padding-bottom: 120px;
}

.hm-pge-banner .banner-content h2 {
	margin-bottom: 26px;
	position: relative;
	font-size: 22px;
	color: var(--pink);
	line-height: 34px;
}

.hm-pge-banner .banner-content h1 {
	margin-bottom: 44px;
	font-size: 60px;
	color: #050d36;
	font-weight: 900;
	line-height: 70px;
}

.hm-pge-banner .banner-content h1 span {
	position: relative;
}

.hm-pge-banner .banner-content h1 span img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	animation: section-animation 3s infinite;
	-webkit-animation: section-animation 3s infinite;
}

.hm-pge-banner .banner-content p {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 32px;
}

@keyframes section-animation {
	0% {
		width: 0;
	}

	15% {
		width: 100%;
	}

	85% {
		opacity: 1;
	}

	90% {
		width: 100%;
		opacity: 0;
	}

	to {
		width: 0;
		opacity: 0;
	}
}

.hm-pge-banner .banner-content .theme-btn2 {
	margin-left: 25px;
	background-color: var(--pr-color);
}

.hm-pge-banner .banner-content .theme-btn2::before {
	background-color: var(--theme-color);
}

.banner-img {
	position: relative;
}

.banner-img::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/banner-img-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.aliment-1 {
	position: absolute;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 0px 30px 60px 0px rgb(0, 0, 0, 0.2);
	top: 237px;
	left: 0;
	display: flex;
	align-items: center;
	z-index: 1;
	animation: movedelement 5s linear infinite;
}

@keyframes movedelement {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	25% {
		-webkit-transform: translate(10px, 10px);
		transform: translate(10px, 10px);
	}

	50% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}

	75% {
		-webkit-transform: translate(10px, -5px);
		transform: translate(10px, -5px);
	}

	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

.aliment-2 {
	position: absolute;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 0px 30px 60px 0px rgb(0, 0, 0, 0.2);
	top: 365px;
	right: 0;
	display: flex;
	align-items: center;
	z-index: 1;
	animation: movedelement2 5s linear infinite;
}

@keyframes movedelement2 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	25% {
		-webkit-transform: translate(-10px, -10px);
		transform: translate(-10px, -10px);
	}

	50% {
		-webkit-transform: translate(-5px, -5px);
		transform: translate(-5px, -5px);
	}

	75% {
		-webkit-transform: translate(-10px, 5px);
		transform: translate(-10px, 5px);
	}

	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

.aliment-3 {
	position: absolute;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 0px 30px 60px 0px rgb(0, 0, 0, 0.2);
	top: 457px;
	left: 0;
	display: flex;
	align-items: center;
	z-index: 1;
	animation: movedelement3 5s linear infinite;
}

@keyframes movedelement3 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	25% {
		-webkit-transform: translate(-8px, -8px);
		transform: translate(-8px, -8px);
	}

	50% {
		-webkit-transform: translate(-15px, -15px);
		transform: translate(-15px, -15px);
	}

	75% {
		-webkit-transform: translate(-8px, 8px);
		transform: translate(-8px, 8px);
	}

	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

.aliment-4 {
	width: 60px;
	height: 60px;
	position: absolute;
	background-color: var(--pink);
	border-radius: 100%;
	box-shadow: 0px 8px 30px 0px rgb(239 80 146 / 30%);
	top: 163px;
	right: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	animation-duration: 2.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: hero-bounce;
}

.aliment-4 img {
	width: 30px;
}

@keyframes hero-bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

.aliment-icon-red {
	width: 40px;
	height: 40px;
	background-color: var(--bg-light-blue);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aliment-icon-red img,
.aliment-icon-purple img,
.aliment-icon-green img {
	width: 20px;
}

.aliment-icon-purple {
	width: 40px;
	height: 40px;
	background-color: #6213ce;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aliment-icon-green {
	width: 40px;
	height: 40px;
	background-color: var(--green);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aliment-content {
	margin-left: 15px;
}

.aliment-content .h3-title {
	font-size: 15px;
	line-height: 15px;
	font-weight: 700;
	margin-bottom: 5px;
}

.aliment-content p {
	margin-bottom: 0;
}

.banner-shape-1 {
	position: absolute;
	top: 230px;
	left: 170px;
}

.banner-shape-2 {
	position: absolute;
	top: 500px;
	left: 100px;
}

.banner-shape-3 {
	position: absolute;
	top: 308px;
	right: 0;
}

.banner-shape-4 {
	position: absolute;
	top: 700px;
	right: 176px;
}

.hm-pge-banner-right {
	position: relative;
}


/*hm-pge-banner-css-End*/


/*category-section-css-start*/

.category-section {
	padding-top: 120px;
	padding-bottom: 90px;
}

.category-section .category-inner {
	border: solid 1px #acacac;
	border-radius: 8px;
	background-color: #ffffff;
	padding: 30px;
	display: flex;
	margin-bottom: 30px;
	align-items: center;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.category-section .category-inner img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.category-section .category-inner h3 a {
	line-height: 25px;
	margin-bottom: 8px;
}

.category-section .category-inner p {
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.category-section .category-inner:hover {
	background-color: #ef5092;
	border: 1px solid var(--pink);
	box-shadow: 0px 20px 30px 0px rgb(239 80 146 / 30%);
}

.category-section .category-inner:hover h3 a,
.category-section .category-inner:hover p {
	color: #fff;
}

.category-section .category-inner:hover img {
	filter: brightness(0) invert(1);
}


/*category-section-css-end*/


/*About Section Css Start*/

.abt-section {
	background-color: #f7f7f7;
	padding-top: 120px;
	padding-bottom: 150px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.abt-section.abt-pb {
	padding-bottom: 50px;
}

.abt-bg-shapess .code-shape {
	position: absolute;
	left: 99px;
	bottom: 182px;
	width: 242px;
}

.music-icon {
	position: absolute;
	left: 83px;
	top: 86px;
	width: 110px;
}

.paint-shap {
	position: absolute;
	right: 71px;
	bottom: 26px;
	width: 200px;
	transform: rotate(45deg);
}

.raket-shap {
	position: absolute;
	right: 45px;
	top: -21px;
	width: 150px;
	transform: rotate(12deg);
}

.abt-section .aliment-1 {
	top: 200px;
	right: 0;
	left: auto;
}

.abt-section .aliment-3 {
	top: 350px;
	right: 0;
	left: auto;
}

.abt-section .abt-section-img {
	position: relative;
}

.abt-section-img img {
	position: relative;
	top: 2px;
}

.abt-section .container {
	position: relative;
	z-index: 9;
}

.abt-section .abt-section-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/about-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.abt-section .abt-right {
	padding-left: 40px;
}

ul.abt-section-list {
	margin-top: 30px;
	margin-bottom: 10px;
}

ul.abt-section-list li {
	margin-bottom: 30px;
	font-weight: 500;
	color: #050d36;
	display: flex;
	align-items: center;
	font-family: 'Roboto';
	text-transform: capitalize;
}

ul.abt-section-list li:before {
	content: "\f058";
	display: inline-block;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-size: 30px;
	color: var(--theme-color);
	margin-right: 15px;
}
ul.abt-section-list li:last-child{
	margin-bottom:0px;
}

/*About Section Css end*/


/*partnres-logo-section-css-start*/

.partnres-logo-section {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: -125px;
	overflow: hidden;
}

.partnres-logo-section .container {
	position: relative;
	z-index: 9;
}

.partnres-logo-section .partnres-logo-section-inner {
	position: relative;
	background-color: var(--green);
	border-radius: 8px;
	box-shadow: 0px 30px 60px 0px rgb(0, 0, 0, 0.1);
	padding: 50px;
}

.partnres-logo-section .partnres-logo-section-inner::after {
	content: "";
	position: absolute;
	width: 90%;
	height: 100%;
	border-radius: 8px;
	background-color: var(--bg-light-blue);
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.partnres-logo-section .slick-slide img {
	margin: auto;
	opacity: 0.7;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	max-width: 100%;
}

.partnres-logo-section .slick-slide img:hover {
	opacity: 1;
}


/*partnres-logo-section-css-End*/


/*Online Course Section Css Start*/

.online-course-sec {
	padding-top: 60px;
	padding-bottom: 90px;
	position: relative;
}

.oc-main {
	margin-bottom: 20px;
}

.oc-sec-inner {
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
	border-radius: 8px;
	margin-bottom: 30px;
	height: 100%;
}

.oc-sec-inner-img {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
	/*padding:30px 30px 0 30px;*/
}

.oc-sec-inner-img>img {
	width: 100%;
	transform: scale(1);
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	height: 431px;
}

.oc-sec-inner:hover .oc-sec-inner-img>img {
	transform: scale(1.05);
}

.oc-sec-inner-img .btn {
	position: absolute;
	left: 30px;
	bottom: 26px;
	font-family: 'Roboto';
	line-height: 15px;
	padding: 8px 20px;
	border-radius: 4px;
}

.oc-sec-inner-img .btn-red {
	background-color: var(--pink);
}

.oc-sec-inner-img .btn-blue {
	background-color: var(--bg-light-blue);
	left: 156px;
}

.oc-sec-inner-content {
	padding: 30px 30px 15px 30px;
}

.course-slider-inners .oc-sec-inner-content {
	min-height: 220px;
}

.course-slider-inners .slick-slide {
	margin-left: 15px;
	margin-right: 15px;
}

.oc-sec-inner-content h3 a {
	line-height: 35px;
	font-size: 24px !important;
	margin-bottom: 10px;
}

.oc-sec-inner {
	position: relative;
	overflow: hidden;
}

.oc-sec-inner::after {
	content: '';
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	position: absolute;
	bottom: -4px;
	left: -17px;
	border-top: 25px solid #0c9dd7;
	transform: rotate(45deg);
}

.oc-sec-inner.oc-2::after {
	border-top: 25px solid #f49320;
}

.oc-sec-inner.oc-3::after {
	border-top: 25px solid #7e3d97
}

.oc-sec-inner.oc-4::after {
	border-top: 25px solid #ee5192
}

.oc-sec-inner.oc-5::after {
	border-top: 25px solid #7dc245;
}

.oc-sec-inner.oc-6::after {
	border-top: 25px solid #5cc5cd;
}

.oc-sec-inner:hover .oc-sec-inner-content h3 a {
	color: var(--dark-pink);
}

.oc-sec-inner-content .user-profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 28px;
	padding-bottom: 30px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cccccc;
}

.oc-sec-inner-content .user-profile-lft img {
	border: solid 3px #ffffff;
	box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 15%);
	border-radius: 50% !important;
	width: 45px;
	height: 45px;
	object-fit: cover;
	margin-right: 10px;
}

.oc-sec-inner-content .user-profile-lft a {
	font-family: 'Roboto';
	color: #777777;
	line-height: 15px;
}

.oc-sec-inner-content .user-profile-lft a:hover {
	color: #050d36;
}

.oc-sec-inner-content .user-profile-rght p,
.price-section-inner .prc-rght p {
	font-weight: 300;
}

.oc-sec-inner-content .user-profile-rght i {
	margin-right: 10px;
	font-size: 20px;
	color: var(--yellow);
}

.oc-sec-inner-content .price-section-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price-section-inner.prc-left {}

.price-section-inner .prc-left h4 {
	font-size: 20px;
	line-height: 20px;
	color: var(--dark-pink);
}

.price-section-inner .prc-rght p span {
	width: 30px;
	height: 30px;
	background-color: rgb(125 194 69 / 20%);
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
	color: var(--green);
}


/*Online Course Section Css End*/


/*our-events-css-start*/

.our-events {
	background-color: #f7f7f7;
	padding-top: 120px;
	padding-bottom: 120px;
}

.our-events-lft {
	position: relative;
}

.event-video-play-box {
	position: absolute;
	background-color: var(--dark-pink);
	padding: 37px 42px;
	border-radius: 8px;
	box-shadow: 0px 30px 60px 0px rgba(255, 82, 25, 0.4);
	bottom: 100px;
	right: 0;
	display: flex;
	align-items: center;
	animation: movedelement 5s linear infinite;
}

.event-play-btn {
	transform: translate(0);
}

.event-play-icon {
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	background-size: 200% 100%;
	background-position: left center;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: var(--pink);
	padding-left: 5px;
	transition: 0.3s;
	z-index: 1;
}

.event-play-icon:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 50%;
	pointer-events: none;
	animation: waveBtn 2.5s infinite;
	z-index: -1;
}

.event-play-btn a:hover {
	color: var(--dark-pink);
}

@keyframes waveBtn {
	0% {
		box-shadow: 0 0 0 0 rgba(225, 225, 225, 1)
	}

	50% {
		box-shadow: 0 0 0 15px transparent;
	}

	100% {
		box-shadow: 0 0 0 0 transparent;
	}
}

.event-video-content .h3-title {
	color: #ffffff;
	line-height: 25px;
	margin-left: 20px;
	margin-bottom: 0;
	font-size: 25px;
}

.our-events .our-events-img {
	position: relative;
}

.our-events .our-events-img img {
	border-radius: 8px;
	max-width: 100%;
}

.our-events .our-events-right {
	padding-left: 30px;
}

.our-events-list li {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
	padding: 30px;
	display: flex;
	align-items: center;
	border-right: solid 5px #ffffff;
	margin-bottom: 20px;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.our-events-list li:last-child {
	margin-bottom: 0px;
}

.our-events-list li:hover {
	border-right: solid 5px var(--theme-color);
}

.our-events-list-left h3 {
	font-size: 40px;
	line-height: 40px;
	color: var(--pink);
	margin-bottom: 5px;
}

.our-events-list li:hover .our-events-list-right h3 a {
	color: var(--theme-color);
}

.our-events-list-left span {
	color: var(--pink);
	font-weight: 500;
}

.our-events-list-right {
	border-left: 1px solid #cccccc;
	padding-left: 15px;
	margin-left: 15px;
}

.our-events-list-right h3 a {
	line-height: 25px;
	margin-top: 10px;
}

.our-events-list li:hover h4 a {
	color: var(--theme-color);
}

.our-events-list-date p {
	line-height: 15px;
	font-weight: 400;
}

.our-events-list-date p:first-child {
	border-right: 1px solid #cccccc;
	margin-right: 20px;
	padding-right: 20px;
}


/*our-events-css-end*/


/*price-section-css-start*/

.price-section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.price-section .price-sec-inner {
	padding-top: 3px;
	padding-bottom: 3px;
}

.price-section .price-inner-details {
	position: relative;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

.price-section .price-inner-details .plr-text {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #0060ff;
	padding: 10px 15px;
	border-radius: 4px;
}

.price-inner-details h4 {
	margin-bottom: 0;
	line-height: 25px;
	font-size: 25px;
	color: #050d36;
	line-height: 35px;
}

.price-inner-details p {
	margin-bottom: 0;
	margin-top: 20px;
}

.price-inner-details h2 {
	font-size: 40px;
	color: var(--dark-pink);
	line-height: 40px;
	font-weight: 700;
	margin-top: 20px;
	padding-top: 0;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.price-inner-details h2 span {
	font-size: 15px;
	line-height: 15px;
	color: #050d36;
}

.price-inner-details ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 45px;
	height: 30px;
	color: #777777;
	font-weight: 400;
	font-family: 'Roboto';
}

.price-inner-details ul li:last-child {
	margin-bottom: 30px;
}

.price-inner-details ul li:before {
	content: "\f00c";
	position: absolute;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background-color: rgb(125 194 69 / 20%);
	border-radius: 100%;
	color: var(--green);
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*price-section-css-end*/


/*features-section-css-start*/

.features-section {
	background-color: #050d36;
	position: relative;
}

.features-section:after {
	position: absolute;
	content: '';
	background-image: url(../images/featuresbg.jpg);
	height: 100%;
	width: 50%;
	right: 0;
	top: 0;
}

.features-section-inner {
	padding-top: 120px;
	padding-bottom: 120px;
	padding-right: 40px;
}

.features-section .fs-list li {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.fs-list li .fs-list-img {
	width: 65px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: var(--yellow);
}

.features-section .fs-list li:nth-child(2) .fs-list-img {
	background-color: var(--pink);
}

.features-section .fs-list li:last-child .fs-list-img {
	background-color: var(--theme-color);
}

.features-section .fs-list li:last-child {
	margin-bottom: 0px;
}

.fs-list li .fs-list-img img {
	transform: rotateY(0deg);
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.fs-list li .fs-list-content {
	width: calc(100% - 85px);
	margin-left: 20px;
}

.fs-list li .fs-list-content {}

.fs-list li .fs-list-content h4 {
	line-height: 25px;
	font-size: 25px;
}

.fs-list li .fs-list-content p {
	color: #dee3ff;
}

.fs-list li:hover .fs-list-img img {
	transform: rotateY(360deg);
}


/*features-section-css-end*/


/*expert-section-css-start*/

.expert-section {
	padding-top: 0px;
	padding-bottom: 120px;
}

.experts-slider {
	margin-top: -15px;
}

.experts-slider .slick-list {
	margin: 0 -15px;
}

.experts-inner {
	background-color: #f5f6fa;
	border-radius: 8px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	margin: 15px 15px 30px 15px;
	height: 100%;
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.experts-inner .img-sec {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px;
}

.experts-inner .img-sec img {
	width: 100%;
	transform: scale(1);
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
	height: 360px;
	object-fit: cover;
	object-position: top;
}

.experts-inner .img-sec ul {
	position: absolute;
	bottom: -36px;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
	text-decoration: none;
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.experts-inner .img-sec ul li:first-child {
	margin-left: 0;
}

.experts-inner .img-sec ul li {
	margin-left: 20px;
}

.experts-inner .img-sec ul li a i {
	width: 35px;
	height: 35px;
	background-color: var(--pink);
	border-radius: 4px;
	color: #ffffff;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.experts-inner .img-sec ul li a i:hover {
	background-color: var(--theme-color);
}

.experts-inner:hover .img-sec ul {
	bottom: 20px;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.experts-inner h3 a {
	line-height: 25px;
	margin-top: 30px;
}

.experts-inner:hover h3 a {
	color: var(--theme-color);
}

.experts-inner p {
	font-size: 15px;
	line-height: 23px;
	margin-bottom: 0;
	margin-top: 15px;
	text-align: left;
}

.experts-inner h6 {
	color: var(--pink);
	font-size: 20px;
	text-transform: capitalize;
}

.experts-inner:hover {
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px #e7e7e7;
}

.read_more_text a.more,.read_more_text a.less{
	color:var(--theme-color);
	margin-left:5px;
	font-weight:700;
}

/*expert-section-css-end*/


/*testmonila-section-css-start*/

.testmonila-section {
	background-color: #f7f7f7;
	padding-top: 120px;
	padding-bottom: 120px;
}

.testimonials-details {
	position: relative;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 40px;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimonials-details:after {
	content: '';
	position: absolute;
	right: 30px;
	bottom: 40px;
	width: 92px;
	height: 78px;
	background-image: url(../images/quote.png);
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.4;
}

.testimonials-content-img {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.testimonials-content-img {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.testimonial-img {
	border: solid 2px var(--pink);
	border-radius: 8px;
	padding: 10px;
	margin-right: 20px;
}

.testimonial-img img {
	border-radius: 8px;
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.testimonials-content-img h3 {
	font-size: 25px;
	color: #050d36;
	margin-bottom: 5px;
	line-height: 25px;
}

.testimonials-content-img p {
	color: var(--pink);
	line-height: 15px;
	font-weight: 400;
}

.testmonila-section .slick-list {
	margin: 0 -15px;
}

.testmonila-section .slick-slide {
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.testmonila-section .slick-slide.slick-active {
	opacity: 1;
	pointer-events: unset;
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}


/*testmonila-section-css-end*/


/*blog-section-css-start*/

.blg-section {
	padding-top: 120px;
	padding-bottom: 90px;
}

.blg-section .blg-inner {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
}

.blg-section .blg-img {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}

.blg-section .blg-img>img {
	width: 100%;
	transform: scale(1);
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.blg-section .blg-inner:hover .blg-img>img {
	transform: scale(1.05);
}

.blg-section .blg-content {
	padding-top: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.blg-section .blg-content h3 a {
	line-height: 35px;
}

.blg-section .blg-inner:hover h3 a {
	color: var(--theme-color);
}

.blg-section .blg-comment {
	margin-top: 38px;
	border-top: 1px solid #d7d7d7;
	padding-top: 15px;
	display: flex;
	justify-content: center;
}

.blg-section .blg-comment p {
	line-height: 15px;
}

.blg-section .blg-comment p:first-child {
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #d7d7d7;
}

.blg-section .blg-comment p a:hover {
	color: #050d36;
}

.blg-section .blg-comment p i {
	color: var(--pink);
	margin-right: 10px;
}


/*blog-section-css-end*/


/*cta-css-start*/

.cta {
	padding-top: 60px;
	padding-bottom: 60px;
}

.cta-bg {
	background-color: #f3f4f8;
	overflow: visible;
}

.cta .cta-card {
	background-color: var(--dark-pink);
	height: 100%;
	border-radius: 8px;
	padding: 60px 20px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
}

.cta .cta-card:after {
	content: '';
	position: absolute;
	background-image: url(../images/cta-bg.png);
	background-size: contain;
	left: 0;
	top: 0;
	width: 345px;
	height: 101px;
	background-repeat: no-repeat;
}

.cta h2 {
	position: relative;
	font-size: 50px;
	line-height: 60px;
	z-index: 1;
	font-weight: 800;
}

.cta p {
	margin: 20px auto;
	max-width: 400px;
}


/*cta-css-end*/

.category-section .category-inner h3 a,
.oc-sec-inner-content h3 a,
.our-events-list-right h3 a,
.experts-inner h3 a,
.blg-section .blg-content h3 a {
	font-size: 25px;
	color: #050d36;
	font-weight: 700;
}

.shape-bubble-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow: hidden;
	pointer-events: none;
}

@-webkit-keyframes animateBubble {
	0% {
		margin-top: 20%
	}

	to {
		margin-top: -30%
	}
}

@-moz-keyframes animateBubble {
	0% {
		margin-top: 20%
	}

	to {
		margin-top: -30%
	}
}

@keyframes animateBubble {
	0% {
		margin-top: 20%
	}

	to {
		margin-top: -30%
	}
}

@-webkit-keyframes sideWays {
	0% {
		margin-left: 0
	}

	to {
		margin-left: 25px
	}
}

@-moz-keyframes sideWays {
	0% {
		margin-left: 0
	}

	to {
		margin-left: 25px
	}
}

@keyframes sideWays {
	0% {
		margin-left: 0
	}

	to {
		margin-left: 25px
	}
}

.bubbleshape1 {
	-webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 6%;
	top: 45%;
	background: var(--theme-color);
}

.bubbleshape2 {
	-webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 5%;
	top: 80%;
	background: var(--pr-color);
}

.bubbleshape3 {
	-webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 10%;
	top: 40%;
	background: var(--pink);
}

.bubbleshape4 {
	-webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	left: 20%;
	top: 0;
	background: #0060ff;
}

.bubbleshape5 {
	-webkit-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 30%;
	top: 50%;
	background: #ff5219;
}

.bubbleshape6 {
	-webkit-animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 50%;
	top: 0;
	background: #0060ff;
}

.bubbleshape7 {
	-webkit-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 65%;
	top: 70%;
	background: #ff5219;
}

.bubbleshape8 {
	-webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	left: 80%;
	top: 10%;
	background: #0060ff;
}

.bubbleshape9 {
	-webkit-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 90%;
	top: 50%;
	background: #ff5219;
}

.bubbleshape10 {
	-webkit-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 80%;
	top: 80%;
	background: #0060ff;
}

.bubbleshape {
	position: absolute;
	border-radius: 2px;
	box-shadow: none;
	width: 5px;
	height: 5px;
}


/*About Us Page Css Start*/


/*Inner page Csss*/

.inner-page-banner {
	position: relative;
	background-color: #fbfaff;
	padding-top: 262px;
	padding-bottom: 154px;
	text-align: center;
	background-repeat: no-repeat;
}

.inner-page-banner h1 {
	font-size: 80px;
	color: #050d36;
	font-weight: 900;
	line-height: 90px;
	position: relative;
	z-index: 1;
}

.inner-page-banner .banner-shape-2 {
	position: absolute;
	top: 380px;
	left: 325px;
	width: 55px;
}

.inner-page-banner .banner-shape-4 {
	top: 430px;
	right: 516px;
}

.inner-page-banner::before {
	content: "";
	position: absolute;
	width: 900px;
	height: 900px;
	border-radius: 100%;
	top: -110px;
	left: -370px;
	opacity: 0.5;
	background: radial-gradient(ellipse at center, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0) 68%, rgba(0, 95, 252, 0) 100%);
	-webkit-background: radial-gradient(ellipse at center, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0.6) 0%, rgba(0, 95, 252, 0) 68%, rgba(0, 95, 252, 0) 100%);
	z-index: 0;
}

.inner-page-banner::after {
	content: "";
	position: absolute;
	width: 900px;
	height: 900px;
	border-radius: 100%;
	top: 37px;
	right: -390px;
	opacity: 0.5;
	background: radial-gradient(ellipse at center, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0) 68%, rgba(255, 82, 25, 0) 100%);
	-webkit-background: radial-gradient(ellipse at center, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0.6) 0%, rgba(255, 82, 25, 0) 68%, rgba(255, 82, 25, 0) 100%);
	z-index: 0;
}


/*Inner page Csss*/


/*Programs Page Css Start*/

.programe-section {
	background-color: #f7f7f7;
	padding-top: 100px;
	padding-bottom: 120px;
}

.programe-inner-sec .programe-img {
	background-color: transparent;
	border: solid 2px #f7f7f7;
	padding: 20px;
	border-radius: 8px;
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.programe-inner-sec {
	height: 100%;
	background: white;
	padding: 20px;
}

.programe-inner-sec .programe-img-inner {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px;
}

.programe-img-inner img {
	width: 100%;
	transform: scale(1);
	-webkit-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.programe-inner-sec:hover .programe-img-inner img {
	transform: scale(1.05);
}

.programe-inner-sec:hover .programe-img {
	border: solid 2px var(--pink);
}

.programe-inner-sec .apply-now {
	color: #050d36;
	font-weight: 600;
}

.programe-inner-sec .apply-now i {
	padding-left: 10px;
	font-size: 18px;
}

.programe-inner-sec:hover .apply-now {
	color: var(--pink);
}

.programe-inner-sec p {
	font-weight: 400;
}


/*Programs Page Css End*/


/*About Us page Css End*/


/*Conatact page Css Start*/

.contact-section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.contact-section .cntct-details {
	background-color: var(--theme-color);
	border-radius: 8px;
	padding: 60px 50px;
	box-shadow: 0px 0px 10px 0px rgb(126 61 151 / 20%);
}

.cntct-details .icon img {
	width: 30px;
}

.contact-section .cntct-details h3 {
	font-size: 36px;
	line-height: 46px;
}

.contact-section .cntct-details ul {
	margin-top: 50px;
}

.contact-section .cntct-details ul li {
	margin-bottom: 25px;
}

.contact-section .cntct-details ul li:last-child {
	margin-bottom: 0px;
}

.contact-section .cntct-details .icon {
	margin-right: 20px;
}

.contact-section .cntct-details .content {
	width: calc(100% - 50px);
}

.contact-section .cntct-details .content h4 {
	color: #ffffff;
	font-size: 22px;
	line-height: 32px;
	font-weight: 500;
}

.contact-section .cntct-details .content h4 a:hover {
	color: var(--pink);
}


/*.get-touch-section {
padding-left: 20px;
}*/

.get-touch-box {
	padding-left: 20px;
}

.get-touch-section .input-box {
	margin-bottom: 20px;
}

.get-touch-section .input-box .form-control {
	height: 60px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	line-height: 28px;
	color: #131830;
	border: none;
	outline: none;
	padding: 12px 30px;
	border-radius: 8px;
	box-shadow: none;
	border: solid 1px #777777;
}

.get-touch-section .input-box textarea.form-control {
	height: 160px;
}

.conatct-page-map {
	width: 100%;
	height: 500px;
}

.conatct-page-map iframe {
	width: 100%;
	height: 500px;
	margin-bottom: -135px;
}


/*Conatact page Css End*/


/*Our Courses Css Start*/

.courses-page-section {
	padding-top: 120px;
	padding-bottom: 90px;
}

.sidbar-courses .news-letter-frm {
	box-shadow: 10px 10px 38px 0px rgb(0 0 0 / 11%);
}

.sidbar-courses-categories {
	background-color: #f7f7f7;
	border-radius: 8px;
	padding: 40px;
	text-align: left;
	margin-top: 50px;
}

.side-bar-heading {
	position: relative;
	padding-left: 14px;
	margin-bottom: 20px;
}

.side-bar-heading.inner-heading {
	margin-top: 0;
	margin-bottom: 30px;
}

.side-bar-heading:before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	width: 4px;
	height: 42px;
	background-color: var(--theme-color);
	margin-right: 10px;
	transform: translateY(-50%);
}

.sidbar-courses-categories ul li {
	position: relative;
	margin-bottom: 12px;
}

.sidbar-courses-categories ul li input {
	width: 20px;
	height: 20px;
	border: 1px solid #777777;
	margin-right: 10px;
}

.sidbar-courses-categories ul li label {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #777777;
	cursor: pointer;
	line-height: 28px;
}

.sidbar-courses-categories.rating ul li i {
	margin-left: 8px;
	font-size: 20px;
	color: #ffc107;
}

.sidbar-courses-categories.rating ul li i:first-child {
	margin-left: 0;
}

.courses-page-left-sec {
	padding-left: 20px;
}

.courses-page-list-sec {
	background-color: #f7f7f7;
	padding: 10px 20px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.courses-page-list-sec-inner a {
	display: flex;
	align-items: center;
}

.courses-page-list-sec-inner a i {
	font-size: 20px;
	color: #050d36;
	margin-right: 10px;
}

.courses-page-list-sec-inner a span {
	font-weight: 500;
	color: #777777;
}

.courses-page-list-sec-dropdown .form-select {
	width: auto;
	padding: 7px 54px 7px 20px;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	color: #777777;
	border: 1px solid #777777;
	cursor: pointer;
	border-radius: 4px;
}

.courses-page-list-sec-dropdown .form-select option {
	font-weight: 500;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	color: #777777;
}

.courses-page-left-sec-inner-top {
	margin-top: 30px;
}


/*Our Courses Css End*/


/*Pricing Page Css Start*/

.contact-left-img {
	position: relative;
}

.contact-left-img::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 355px;
	border-radius: 50px;
	background-color: var(--theme-color);
	bottom: 0;
	left: 0;
	z-index: -1;
}


/*Pricing Page Css End*/


/*FAQ Page Css Start*/

.faq-section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.faq-section .accordion-item {
	background-color: #ffffff;
	border: none;
	margin-bottom: 20px;
	border-radius: 8px;
}

.faq-section .accordion-button {
	min-height: 60px;
	display: flex;
	align-items: center;
	line-height: 28px;
	margin-bottom: 0;
	padding: 5px 90px 5px 30px;
	position: relative;
	background: #ffffff;
	border-radius: 8px;
	color: #050d36;
	cursor: pointer;
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
	font-family: 'Jost', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.faq-section .accordion-collapse.collapse.show {
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
	border-radius: 8px;
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.faq-section .accordion-button::after {
	content: '\f053';
	font-family: "Font Awesome 5 Pro";
	position: absolute;
	right: 0px;
	width: 60px;
	background-image: none;
	line-height: 100%;
	text-align: center;
	font-size: 26px;
	color: #fff;
	font-weight: 400;
}

.faq-section .accordion-button::before {
	content: '';
	position: absolute;
	right: 0px;
	width: 60px;
	height: 100%;
	background: var(--pink);
	border-radius: 0 8px 8px 0;
	top: 0;
}

.faq-section .accordion-button:not(.collapsed)::after {
	transform: rotate(-90deg);
}


/*FAQ Page Css End*/


/*Breadcum Csss Start*/

.theme-breadcum-section {
	text-align: center;
	margin-top: -30px;
}

.theme-breadcrum {
	background-color: var(--pink);
	display: inline-block;
	text-align: center;
	padding: 15px 30px;
	border-radius: 8px;
	justify-content: center;
	position: relative;
}

.theme-breadcrum ul {
	text-decoration: none;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-breadcrum ul li {
	color: #ffffff;
	margin-left: 10px;
}

.theme-breadcrum ul li a {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
}

.theme-breadcrum ul li {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
}

.themeinner-page-banneri i {
	font-size: 18px;
}

.themeinner-page-banneri:first-child {
	margin-left: 0;
}


/*Breadcum Csss End*/


/*pagination Css Start*/

.theme-pagination {
	display: block;
	text-align: center;
	margin-top: 40px;
}

.theme-pagination .pagination-arrow {
	color: #ff5219;
	font-size: 35px;
	display: inline-block;
	margin: 0 18px;
	vertical-align: middle;
}

.theme-pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.theme-pagination ul li.active,
.theme-pagination ul li:hover {
	background: #ff5219;
	color: #ffffff;
	cursor: default;
}

.theme-pagination ul li {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background-color: #ebebeb;
	border-radius: 50px;
	color: #777777;
	font-weight: 500;
	font-size: 18px;
	margin: 0 7px;
	cursor: pointer;
}


/*pagination Css Start*/

.business-btn-orange {
	font-family: 'Roboto';
	line-height: 15px;
	padding: 8px 20px;
	border-radius: 4px;
	background-color: var(--theme-color);
	display: inline-block;
}

.marketing-btn-blue {
	font-family: 'Roboto';
	line-height: 15px;
	padding: 8px 20px;
	border-radius: 4px;
	background-color: #0060ff;
	display: inline-block;
}


/*Blog Page Css Start*/

.get-course ul.blg-categry-list li {
	margin-bottom: 15px;
}

.blg-category-list li a {
	position: relative;
	font-size: 15px;
	line-height: 24px;
	color: #777777;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
}

.blg-category-list li a:after {
	content: "\f105";
	position: absolute;
	font-family: "Font Awesome 5 Pro";
	left: 0;
	top: 50%;
	font-size: 20px;
	transform: translateY(-50%);
}

.blg-category-list li a:hover {
	color: var(--theme-color);
	padding-left: 30px;
}

.blg-category-list li a:hover:after {
	color: var(--theme-color);
}

ul.blg-category-link li {
	margin-right: 15px;
	margin-bottom: 15px;
}

ul.blg-category-link li a {
	padding: 10px 25px;
	border: solid 1px #777777;
	color: #777777;
	font-weight: 500;
	border-radius: 8px;
}

ul.blg-category-link li a:hover {
	background-color: #ff5219;
	border: solid 1px #ff5219;
	color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgb(255 82 25 / 40%);
}

.blog-list-section {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 30px 60px 0px rgb(0, 0, 0, 0.1);
	margin-bottom: 50px;
	transition: 0.2s;
}

.blg-lst-img {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}

.blg-lst-img>img {
	width: 100%;
	transform: scale(1);
	transition: 0.2s;
}

.name-date-comment {
	display: flex;
	align-items: center;
}

.name-date-comment img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.name-date-comment a {
	display: inline-block;
	color: #777777;
}

.name-date-comment a:hover {
	color: #050d36;
}

.name-date-comment i {
	color: var(--theme-color);
}

.name-date-comment a.name {
	margin-right: 20px;
	border-right: 1px solid #d7d7d7;
	padding-right: 20px;
}

.blog-list-section:hover .blg-lst-img>img {
	transform: scale(1.05);
}

.blog-list-section .card-body {
	padding: 30px;
}

.blog-list-section .card-body .inner-heading a {
	margin-top: 15px;
	margin-bottom: 20px;
	line-height: 35px;
}

.blog-list-section:hover .card-body h3 a {
	color: var(--theme-color);
}

.blog-list-section .card-body .theme-btn {
	margin-top: 20px;
}

.blog-left-section {
	padding-right: 20px;
}


/*Blog Page Css End*/


/*Blog Details Page Css Start*/

.blog-details-page.courses-details-page-section .blg-lst-img {
	border-radius: 8px;
}

.blog-details-page.courses-details-page-section .name-date-comment {
	margin-bottom: 20px;
}

.blog-details-page.courses-details-page-section ul.abt-section-list li {
	margin-bottom: 20px;
}

.blog-details-page.courses-details-page-section ul.abt-section-list li:before {
	font-size: 26px;
}

.blog-details-page .blog-inner-text-box {
	background-color: #ffffff;
	border-radius: 8px;
	border-left: solid 5px var(--theme-color);
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
	padding: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.blog-details-page .blog-inner-text-box .inner-heading2 {
	color: #0060ff;
	padding-left: 50px;
	position: relative;
}

.blog-details-page .blog-inner-text-box .inner-heading2:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 1px;
	background-color: #0060ff;
	left: 0px;
	top: 16px;
}

.blog-left-section .blg-category-link li:first-child {
	font-weight: 500;
	color: #050d36;
	margin-right: 15px;
}


/*Blog Details Page Css End*/

.category-section-new {
	padding-top: 150px;
	padding-bottom: 120px;
	position: relative;
	background-image: url(../images/bg-bg-banner.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-shapess .sky-arrow {
	position: absolute;
	top: -92px;
	left: -55px;
	width: 500px;
}

.bg-shapess .math {
	position: absolute;
	top: 360px;
	left: 9px;
	width: 285px;
}

.bg-shapess .tringle-pink {
	position: absolute;
	position: absolute;
	top: 325px;
	right: 90px;
	width: 132px;
}

.bg-shapess .abcd-shape {
	position: absolute;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 280px;
}

.bg-shapess .star1 {
	position: absolute;
	position: absolute;
	top: 10px;
	right: 45px;
	width: 139px;
}

.bg-shapess .star2 {
	position: absolute;
	position: absolute;
	bottom: 10px;
	left: 45px;
	width: 139px;
}

.category-section-new .container {
	position: relative;
	z-index: 99;
}

.category-section-new ul li .category-inner {
	background-color: #ffffff;
	border-radius: 12px;
	padding: 40px 15px;
	text-align: center;
	margin-bottom: 25px;
	border-top: 5px solid #7dc245;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

.category-section-new ul li:nth-child(2) .category-inner {
	border-top: 5px solid #0a9cd7;
}

.category-section-new ul li:nth-child(3) .category-inner {
	border-top: 5px solid #f5931f;
}

.category-section-new ul li:nth-child(4) .category-inner {
	border-top: 5px solid #ee5092;
}

.category-section-new ul li:nth-child(5) .category-inner {
	border-top: 5px solid #ffd00a;
}

.category-section-new ul li:nth-child(6) .category-inner {
	border-top: 5px solid #ffb1ce;
}

.category-section-new ul li:nth-child(7) .category-inner {
	border-top: 5px solid #5cc5cd;
}

.category-section-new ul li:nth-child(8) .category-inner {
	border-top: 5px solid #ce84eb;
}

.category-section-new ul li .category-inner img {
	max-width: 100px;
	height: 100px;
	object-fit: contain;
	margin-bottom: 25px;
}

.category-section-new ul li .category-inner h3 a {
	font-size: 22px;
}

.category-section-new ul li .category-inner p span.age-text {
	background-color: rgb(125 194 69 / 20%);
	border-radius: 25px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	color: var(--green);
	padding: 3px 10px;
	margin-bottom: 25px;
	margin-top: 15px;
	font-size: 14px;
}

.category-section-new ul li .category-inner .theme-btn {
	padding: 13px 60px !important;
}

.category-section-new ul li .category-inner .theme-btn i {
	margin-left: 15px;
	font-weight: 500;
}

.category-section-new ul li .category-inner .theme-btn:before {
	display: none
}


/*Modal Css Start*/

.modal .btn-close {
	background: var(--pink);
	opacity: 1;
	color: #fff;
	width: 46px;
	height: 46px;
	font-size: 36px;
	line-height: 16px;
	padding: 0px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

.thankmsg .modal-body {
	position: relative;
	overflow: hidden;
}

.thankmsg .sky-arrow1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 171px;
	animation: drift 1s linear infinite;
}

@keyframes drift {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateX(5%) translateY(5%);
	}

	100% {
		transform: translateY(0);
	}
}

.thankmsg .btn-close {
	background: #0c9dd7;
	border-radius: 100%;
	height: 38px;
	width: 38px;
	font-size: 20px;
	margin-right: -54px;
	margin-top: -96px;
}

.thankmsg .modal-content {
	border-radius: 18px;
	padding: 30px;
	border-bottom: 10px solid #ce1c67;
}

.thankmsg h4 {
	font-weight: 600;
	font-size: 26px;
}

.thanks-icon {
	width: 150px;
	margin-bottom: 30px;
	animation-duration: 2.0s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: hero-bounce;
}

#course-modal .form-control {
	height: 52px;
}

#course-modal .form-control,
#course-modal label {
	font-size: 18px;
}

.theme-select {
	position: relative;
}

.theme-select:after {
	content: "\f00d";
	position: absolute;
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
	right: 0;
	top: 0;
}


/*Modal Css End*/


/*---------------------------meet our founder start------------------*/

.found-card .card__corner {
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	height: 2em;
	background-color: #febb00;
}

.found-card .card__corner .card__corner-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 2em 2em 0;
	border-color: transparent #ffffff transparent transparent;
}

.found-card .card__corner-l {
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: #fd2b59;
}

.found-card .card__corner-l .card__corner-triangle-l {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 2em 2em 0;
	border-color: transparent #ffffff transparent transparent;
	transform: rotate(270deg);
	top: -1px;
}

.found-card {
	margin-bottom: 50px;
	padding: 40px 40px;
	box-shadow: -34px 36px 34px -31px #e1e1e1;
	position: relative;
	background: #f5f5f5;
	border-radius: 6px;
}

.found-card p {
	font-size: 17px;
	position: relative;
	line-height: 29px;
}

.expert-team {
	padding-top: 100px;
	padding-bottom: 100px;
}

.f-img .main-founder {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	box-shadow: 0 0 15px -2px #cccccc;
}

.f-img {
	width: 250px;
	height: 250px;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 99;
	text-align: center;
}

.yellow-bg {
	position: absolute;
	top: -21px;
	right: -38px;
	z-index: -1;
	width: 200px;
}

.two-sp {
	position: absolute;
	bottom: 0;
	left: -29px;
	width: 300px;
}


/*---------------------------meet our founder end------------------*/

.expert-team h3 {
	color: #27c7cf;
	text-align: left;
	font-weight: 400;
	font-style: normal;
	padding-bottom: 4px;
	display: inline-block;
	margin-bottom: 20px;
	border-bottom: 2px solid #27c7cf;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 500;
}

.read_more {
	transition: 0.5s;
}

.read-m-team {
	font-size: 14px;
	padding: 16px 30px 14px;
	border-radius: 0;
	background-color: #e86496;
	border: none;
	margin-top: 15px;
	color: #ffffff;
	position: absolute;
	left: 0;
	bottom: -70px;
}

.read-m-team.clr-btn {
	background-color: #7dc245;
}

.read-m-team:hover {
	color: #ffffff;
}

.m-top-t {
	margin-top: 30px;
}

.partnres-logo-section .cta {
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	margin-top: -58px;
}

.course-price-text .inner-heading {
	margin-top: 0px;
}

.rgister-section {
	padding-right: 25px;
}

.rgister-section .price-inner-details h2 {
	border-bottom: none;
	padding-bottom: 0px;
	margin-top: 0;
	margin-bottom: 20px;
}

.step-sec-d {
	min-height: 721px;
}

.step-sec-d .step-icon i {
	background-color: #5cc5cd;
	color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 32px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.step-sec-d-inner-text {
	margin-bottom: 20px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 15px;
}

.step-sec-d .side-bar-heading.inner-heading {
	padding-left: 0px;
	margin-bottom: 10px;
}

.step-sec-d .side-bar-heading.inner-heading:before {
	display: none;
}

.selcts-labl {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Roboto';
}

.courses-details-page-section form.rgform {
	position: relative;
	background-color: #ffffff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0px 30px 60px 0px rgb(0 0 0 / 10%);
}

.courses-details-page-section .price-section .price-inner-details {
	min-height: 721px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*--------------------payment page css start---------------------*/

.vat-num {
	position: relative;
}

.vat-num span {
	position: absolute;
	right: 10px;
	top: 41px;
	color: #61c50e;
	font-size: 18px;
}

.payment-logo {
	width: 300px;
}

.payment-head {
	margin-top: 50px;
}

.payment-head img {
	width: 300px;
}

.right-form-details .btn-primary {
	background: #7e3d97;
	padding: 13px;
	border-radius: 10px;
	border: none;
	transition: 0.5s;
}

.card-credit {
	position: relative;
}

.card-credit span i {
	position: absolute;
	position: absolute;
	top: 45px;
	left: 10px;
	margin-right: 10px;
	color: #c7c7c7;
}

.right-form-details .btn-primary:hover {
	background-color: #f5931f;
}

.card-credit .form-control {
	padding-left: 40px;
}

.payment-details {
	padding: 50px 0
}

.payment-details p {
	color: #000000;
}

.left-payment-box {
	background-color: #fbfbfb;
	padding: 80px 80px;
}

.left-payment-box .card-chek-box {
	background-color: #f1f0f0;
	padding: 20px 30px;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: 0.5s;
	border: 1px solid #f1f0f0;
}

.left-payment-box .card-chek-box:hover {
	background-color: #ffffff;
	border: 1px solid var(--theme-color);
}

.left-payment-box .card-chek-box p {
	margin-bottom: 0;
	color: #000000;
}

.right-form-details {
	padding: 80px 80px;
}

.right-form-details label {
	font-weight: 500;
}

.left-payment-box h5,
.right-form-details h5 {
	font-size: 26px;
}

.left-payment-box .img-payment img {
	margin-top: 30px;
	border-radius: 10px;
}

.img-payment p {
	margin-top: 30px;
	font-size: 15px;
	margin-bottom: 30px;
}

.right-form-details p {
	font-size: 15px;
}

.right-form-details .form-control:not(textarea) {
	height: 41px;
	font-size: 18px;
	border-radius: 10px;
}

.right-form-details small {
	color: #b3b3b3;
}

.right-form-details form {
	margin-top: 30px;
}

.right-form-details .form-control:focus {
	border-color: var(--theme-color);
}

.StripeElement {
	display: block;
	width: 100%;
	font-weight: 400;
	padding: 0 .75rem;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	height: 52px;
	line-height: 52px;
	background-color: #fff;
}


/*--------------------payment page css end---------------------*/


/*  Course Detail Css */

.course-detail {
	padding: 70px 0;
}

.course-detail-inner .course-col,
.instructor-summary-inner {
	-webkit-box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 6%);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 6%);
	border-radius: 20px;
	padding: 30px;
}

.course-detail-inner .course-col+.course-col {
	margin-top: 40px;
}

.course-detail-title h2 {
	font-size: 24px;
	padding-bottom: 22px;
}

.course-col-text p {
	line-height: 1.6;
}

.cs-col {
	background-color: #f3f4f8;
	border-radius: 8px;
	padding: 25px;
	text-align: left;
}

.cs-col+.cs-col {
	margin-top: 20px;
}

.enroll-detail {
	margin: 20px 0 30px;
}

.enroll-detail .enroll-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 1px solid #ebebeb;
	font-size: 16px;
}

.enroll-detail .enroll-item:first-child {
	padding-top: 0;
}

.enroll-detail .enroll-item span:first-child {
	display: flex;
	align-items: center;
}

.get-course-icon {
	min-width: 35px;
	width: 35px;
	height: 35px;
	margin-right: 8px;
	background-color: var(--theme-color);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.enroll-detail .enroll-item span:last-child {
	font-weight: 600;
}

.enroll-checkbox {
	display: flex;
	align-items: center;
}

.enroll-checkbox .form-check-input:checked {
	background-color: #f49320;
	border-color: #f49320;
}

.enroll-checkbox .form-check:first-child {
	margin-right: 15px;
}

.enroll-course-note {
	font-size: 13px;
	display: block;
	margin-top: 10px;
}

.insDet-head {
	text-align: center;
	margin: 20px 0;
}

.insDet-head span {
	font-size: 15px;
	color: #707070;
}

.insDet-head h5 {
	font-size: 22px;
	margin-bottom: 8px;
	color: #ef5092;
}

.insDet-body p {
	font-size: 15px;
}

.insDet-img {
	width: 126px;
	height: 126px;
	padding: 8px;
	border: 2px solid #d4d4d4;
	border-radius: 100px;
	margin: 0 auto 20px;
}

.insDet-img img {
	border-radius: 100%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.coursePricebox {
	color: var(--theme-color);
	font-size: 29px;
}

.coursePricebox small {
	font-size: 12px;
}


/*   Course Detail Page End */


/*========== Courses Box CSS Start==========*/

.course-item {
	background-color: #ffffff;
	box-shadow: 0px 0 15px 0px rgb(0 0 0 / 10%);
	border-radius: 8px;
	margin-bottom: 30px;
}

.course-img {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}

.course-img .img img {
	width: 100%;
	transform: scale(1);
	height: 280px;
	object-fit: cover;
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
	object-position: right top;
}

.course-item:hover .img>img {
	transform: scale(1.05);
	transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.course-img ul {
	list-style: none;
	text-decoration: none;
	margin-bottom: 0;
	padding-left: 0;
	position: absolute;
	bottom: 26px;
	left: 20px;
	display: flex;
	align-items: center;
}

.course-img ul li {
	margin-left: 20px;
}

.course-img ul li:first-child {
	margin-left: 0;
}

.course-img ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 15px;
	padding: 8px 20px;
	color: #ffffff;
	border-radius: 4px;
}

.course-tag-orange {
	background-color: #ff5219;
}

.course-tag-blue {
	background-color: #0060ff;
}

.course-content {
	padding: 30px 30px 15px 30px;
}

.course-content .h3-title {
	font-size:24px;
}

.course-content .course-des p {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.course-review {
	display: flex;
	align-items: center;
}

.course-review i {
	font-size: 20px;
	color: #ffc107;
}

.course-review p {
	margin-bottom: 0;
	margin-left: 10px;
	line-height: 15px;
}

.course-line {
	background-color: #cccccc;
	width: 100%;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.course-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.course-price span {
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: #ff5219;
	font-weight: 700;
}


/*========== Courses Box CSS End==========*/


/*Profile Page Css Start*/

.instructor-detail-banner {
	padding: 200px 0 50px;
	background-color: transparent;
	background-position: center;
	background-size: contain;

}

.instructor-detail-banner::before, .instructor-detail-banner::after {
	display: none;
}

.instructor-banner-img {
	padding: 20px;
	position: relative;
}

.instructor-banner-img::before,
.instructor-banner-img::after {
	content: "";
	position: absolute;
	width: 170px;
	height: 170px;
	border-radius: 8px;
	z-index: 1;
}

.instructor-banner-img::before {
	background-color: #ff5219;
	top: 0;
	left: 0;
}

.instructor-banner-img::after {
	background-color: #0060ff;
	bottom: 0;
	right: 0;
}

.instructor-image-inner {
	display: block;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	z-index: 2;
}

.instructor-banner-caption {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	text-align: left;
	margin-left: 40px
}

.instructor-banner-caption span {
	font-size: 22px;
	display: block;
}

.instructor-rating {
	line-height: 1;
	margin-top: 20px;
	font-size: 17px;
}

.instructor-rating p {
	margin: 0 0 0 6px;
	font-size: 17px;
	color: #000;
}

.instructor-rating i {
	color: #ffc107;
	margin-right: 2px;
}

.instructor-summary {
	padding: 60px 0;
}

.gallery-section {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f5f5f5;
}

.gallery-section-inner {
	position: relative;
	margin-top: 40px;
	overflow: hidden;
	border-radius: 5px;
}

.gallery-section-inner img {
	height: 400px;
	object-fit: cover;
	transition: 0.2s;
}

.gallery-section-inner:hover .content h3 a {
	color: #ff5219;
}

.gallery-section-inner:hover img {
	transform: scale(1.03);
}

.gallery-section-inner .content {
	position: absolute;
	background-color: rgb(255 255 255 / 80%);
	left: 20px;
	bottom: 20px;
	width: calc(100% - 40px);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

.gallery-section-inner .content h3 {
	font-size: 26px;
}


/*Profile Page Css End*/

.course-slider-inners .slick-slide {
	margin-left: 15px;
	margin-right: 15px;
}


/*slick slider height css*/

.slick-slide {
	height: 100%;
	padding-bottom: 20px;
}

.course-item-outer {
	padding-top: 5px;
	padding-bottom: 25px;
}

.course-item-outer .course-item {
	height: 100%;
	margin-bottom: 0px;
}


/* book your demo page */

.slot-cards {
	box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    margin-top:20px;
    border-bottom: 1px solid #f49320;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}
.text-head {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 20px;
}
.slot-cards:hover {
	transform: translateY(-3px);
}

.outer-demos {
	margin-top: 40px;
}

.outer-demos .form-check {
	position: relative;
}

.text-label {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #1b222b;
	margin-bottom: 0;
}

.outer-demos input[type=radio] {
	opacity: 0;


}

.outer-demos .form-check .form-check-input[type=radio]:checked+.text-label {
	color: #ffffff !important;
}

.outer-demos .form-check .form-check-input[type=radio], .outer-demos .form-check .form-check-input[type=radio]:checked {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
	margin-left: 0;
	margin-top: 0;
	background-image: none;
	z-index: -1;
	border-radius: 10px;
	background-color: #ffffff;
	border: none;

	cursor: pointer;
	color: #ffffff !important;
}

.outer-demos .form-check .form-check-input[type=radio]:checked {
	background-color: #f49320;
	opacity: 1;

}
.outer-demos .form-check .form-check-input[type=radio]:checked + .text-label{
	color: #ffff!important;
}
.outer-demos .form-check {
	cursor: pointer;
}


/*Privacy Policy Page Css Start*/
.terms-content {
	padding-top: 60px;
	padding-bottom: 60px;
}

.trms-cont-heading {
	font-size: 36px;
	font-weight: 700;
	margin-top:35px;
}
.terms-content ul.abt-section-list li{
	margin-bottom: 15px;
	text-transform: none;
	font-weight:400;
}
.terms-content ul.abt-section-list li:before{
	font-size:16px;
	margin-right:10px;
}
.terms-content p{
    line-height: 28px;
}
.cs-col+.cs-col {
	margin-top: 20px;
}

/*Privacy Policy Page Css end*/

.sign-card .question-card {
    background-image: none;
}

.sign-card .modal-content {
    border-radius: 20px;
}

.sign-card .btn-close {
    border-radius: 100%;
	margin-right: -20px !important;
    margin-top: -20px !important;
}

.sign-card .fa-times {
    font-size: 26px;
}

.question-card {
    padding: 30px;
    background-image: url(../images/bg-bg-banner.svg);
    background-position: top left;
    background-size: cover;
}

.sign-card .question-card {
    padding: 55px 30px 55px 30px;
}

#course-modal .question-card {
    padding: 30px;
}

.question-card .card {
    display: block;
    padding: 30px;
    height: 100%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 17px 3px #e7e7e7;
    /*    background: #01b8c1;*/
    border: none;
    background: #f7f7f7;
    border-top-left-radius: 60px;
    /* border-bottom: 4px solid #ef5092;*/
}

.question-card .card p {
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}

.icon-click {
	width: 40px;
    height: 40px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    animation: float 2s ease-in-out infinite;
    transform: translateX(-50%);
}

.modal .btn-close:hover {
    opacity: 0.9;
}

@keyframes float {
    0% {
        bottom: -30px;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: -30px;
    }
}

.question-card .card .c-pic {
    width: 120px;
    margin-bottom: 30px;
}
.question-card  label {
    font-size: 18px ;
    font-weight: 500 ;
}
.question-card .card .pencil-pic {
    position: absolute;
    top: -9px;
    left: -6px;
    width: 61px;
}

.icon-s-card {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.icon-s-card img {
    width: 50px;
    color: #ef5092;
}

.question-card .card:hover {
    box-shadow: 0px 0px 17px 3px #e7e7e7 !important;
    transform: translateY(-15px);
}



.modal-title {
    padding-left: 12px;
    color: #ef5092;
}

.form-control {
    font-weight: 400;
}

.form-select {
    border: 1px solid #ced4da;
}

.fa-asterisk {
    color: #f49320;
    font-size: 7px;
    /* margin-top: -9px; */
    position: relative;
    top: -8px;
}
